[2012-01-14 13:39] deno opened #2 "Scala 2.9.1 and SBT 0.10"
Are there any plans to support Scala 2.9.1 and/or SBT 0.10?

[2012-01-23 07:04] stuhood opened #3 "Needs union support"
A union is a special case of a struct which has exactly one of its fields set.

https://issues.apache.org/jira/browse/THRIFT-409

[2012-03-06 21:47] devinus opened #4 "Implement validate()"

[2012-03-21 04:01] ghost opened #5 "unable to deal with include with file separator"
Currently scrooge cannot deal with:
# include "some/directory/my_other_thrift.thrift" inside a thrift file.

[2012-03-21 04:05] ghost opened #6 "cannot deal with 'typedef'"
typedef anotherfile.SomeStruct SomeStruct

will cause an exception

[2012-03-22 15:41] devinus opened #7 "Consider using Scala Macros instead of Handlebar"
Despite what Stu Hood thinks of them.

[2012-03-30 18:28] sodabrew opened #8 "Typedefs from an included thrift are neither imported nor referenced by package"
Here's an attempt at extracting a minimum repro:

Foo.thrift:

[code]

Bar.thrift

[code]

The problems appears to be that the Scala output in bar.scala is this:

[code]

It should work the typedef backwards and either prefix:

[code]

Or it should import foo._ into bar.scala (there is as include "foo.thrift" in "bar.thrift", so I think it makes sense to generate a corresponding import).

[2012-03-30 20:43] sodabrew opened #9 "Scrooge simply bombs out when an invalid type is used"
I accidentally used `String` as a data type in a thrift file, rather the `string`. Since I was previously compiling to Java, turns out this just passed through transparently and worked as a Java String type! However, when compiling to Scala, scrooge did this helpful thing:

[code]

Expected: some kind of error message with a line number.

[2012-04-04 19:46] #2 closed, assigned to nobody

[2012-04-05 01:16] ryanking opened #12 "support non-finagle servers"
Its not currently possible to use scrooge with vanilla thrift.

[2012-04-10 23:33] #9 closed, assigned to nobody

[2012-04-10 23:33] #4 closed, assigned to nobody

[2012-04-10 23:35] #7 closed, assigned to nobody

[2012-05-05 01:59] robey opened #13 "impossible to assign a default value to a bool"
It looks like thrift doesn't define any syntax for true/false as a default value, so convention is to use 0 and 1, which may make sense to C people, but is objectively idiotic.

Scrooge should support both true/false and 0/1 as default values for bools.

Example from David Helder:

const bool ECHO_FRAMED = 1;

[2012-05-09 17:51] #6 closed, assigned to nobody

[2012-05-09 20:49] imownbey opened #14 "Exceptions without any params throws a parse error"
Scrooge wants a { and a ( to follow an exception definition.

[2012-06-25 14:00] bobymicroby opened #15 "The ThriftStructCodec in the scrooge-runtime doesn't have a method 'decode' ."
[ERROR] /Users/bobby/Projects/Cassandro/src/main/scala-gen/com/bithike/cassandra/thrift/Cassandra.scala:11655: error: value decode is not a member of com.twitter.scrooge.ThriftStructCodec[T]
[INFO]           codec.decode(iprot)
[INFO]                 ^

[2012-08-28 13:38] diegovar opened #16 "Support for sbt 0.11.3?"
Scrooge depends on sbt-package-dist which is not available in the maven repo for sbt 0.11.3. It also appears that twitter has moved away from sbt so support should not be expected on that plugin: https://github.com/twitter/sbt-package-dist/issues/4

Any thoughts on having this work for sbt 0.11.3?

[2012-10-31 18:11] #15 closed, assigned to nobody

[2012-10-31 18:13] #3 closed, assigned to nobody

[2012-10-31 18:13] #5 closed, assigned to nobody

[2012-11-12 09:14] pkmishra opened #18 "Build failing"
[code]

[2012-11-18 23:21] eirslett opened #19 "The maven build fails"
1) Not all dependencies can be resolved - I tried adding maven.twttr.com to the repository list, that appeared to do the trick.
2) Maven does not compile scala code by default - or have you in some way configured it to do so? Anyways, I suppose the easiest way to make it happen would be to use the maven-scala-plugin.
3) I tried building the project with the maven-scala-plugin after applying those

[2012-11-24 00:12] #19 closed, assigned to nobody

[2013-01-04 09:11] cchabanois opened #31 "Scrooge 3.0.2 and 3.0.3 not available in maven repository"
Latest available version is 3.0.1 at http://maven.twttr.com/com/twitter/scrooge/

[2013-01-04 09:19] cchabanois opened #32 "When generating java files for finagle, ${GeneratedService}.FinagleService class is protected"
This means we must be in the same package to create the server using :
ServerBuilder.safeBuild(
                new ${GeneratedService}.FinagledService(processor,
                        new TBinaryProtocol.Factory()),
                ServerBuilder.get().name("serviceName")
                        .codec(ThriftServerBufferedCodec.get())
                        .bindTo(new InetSocketAddress(8080)))

[2013-01-04 09:29] cchabanois opened #33 "NPE when using generated java files for finagle"
When I try to create the service client :

[code]

I get the following exception :

[code]

For each service method the following line is generated in FinagledClient

[code]

__Stats is an inner class in FinagledClient

[code]

It accesses scopedStats in FinagledClient but scopedStats is null before the FinagledClient constructor has been called ...

[2013-01-11 10:19] dispalt opened #39 "Comments cause the Java generator to fail"
Comments that begin with `/**` in the middle of an ENUM or struct seems to make things blow up.  Comments like `/*` do not.

[2013-01-16 09:17] johnsonma opened #40 "Does finagle client only support TBinaryProtocol for Thrift?"
Currently I got a problem when change the thrift client to finagle, while the server uses the TCompactProtocol, so I when I create the finagle client, I also applied the TCompactProtocol for it.
But the server keeps throwing exception : org.apache.thrift.protocol.TProtocolException: Expected protocol id ffffff82 but got ffffff80.
When I create a test server using TBinaryProtocol, then the finagle

[2013-01-17 03:53] #40 closed, assigned to nobody

[2013-01-17 17:29] azymnis opened #42 "Artifact from scrooge-runtime cannot be pulled in from maven central."
This because it depends on `util-codec-5.3.13` which has not been published.

[2013-01-25 23:08] #42 closed, assigned to nobody

[2013-02-08 15:08] hbs opened #44 "Fully Qualified Type Names are not supported in struct/service defs"
We have a best practice of using fully qualified names when referencing a Thrift struct in another Thrift IDL, this practice is not supported by the Scrooge generator which therefore is not backward compatible with the standard Thrift compiler.

The standard Thrift compiler accepts the file name (minus the '.thrift' suffix) as a prefix for the structures used in another file, Scrooge doesn't :-(

[2013-02-25 22:16] plaflamme opened #45 "Casing broken between 3.0.1 and 3.0.6"
We have thrift file like so:

[code]

With scrooge 3.0.1, this produced a scala class `HCacheException`, but with 3.0.6, the name is now `HcacheException` (notice the lowercase `c`).

I feel like scrooge shouldn't be mangling this name since it's already using TitleCase...

[2013-03-12 23:33] alokrep opened #46 "Generate Java classes for thrift"
I cannot find a way to tell the scrooge-maven-plugin how to use the --language java.
Here is my pom.xml

<plugin>
                <groupId>com.twitter</groupId>
                <artifactId>scrooge-maven-plugin</artifactId>
                <version>3.0.8-SNAPSHOT</version>
                <configuration>
                    <language>java</language>
                    <thriftOpts>

[2013-03-14 13:11] erikvanoosten opened #47 "Can not use enum consts from included file as default value"
It is not possible to use enum constants as default value when the enum is imported from another file.

For example, when I change `$/scrooge-generator/src/test/thrift/relative/candy.thrift` to:

[code]

You get compilation errors in both Java and Scala output. Here is the Java output:

[code]

Here is the wrong java code:

[code]

As you can see the type is missing on the right hand side (but not

[2013-03-15 21:59] #39 closed, assigned to nobody

[2013-03-18 13:46] erikvanoosten opened #54 "Generator: option -s (skip-unchanged) doesn't work"
Main.scala contains the following option definition:

[code]

However, the boolean compiler.skipUnchanged is never read. This function doesn't seem implemented.

[2013-03-19 23:12] #47 closed, assigned to nobody

[2013-03-19 23:39] caniszczyk opened #57 "Tests no longer running in Travis CI?"
See this build for example: https://travis-ci.org/twitter/scrooge/builds/5633433

---
##  T E S T S

Results :
Tests run: 0, Failures: 0, Errors: 0, Skipped: 0
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] scrooge ........................................... SUCCESS [0.003s]
[INFO] scrooge-runtime ..............................

[2013-03-20 13:49] MasseGuillaume opened #58 "license copyright"
look like your forgot to fill this line

https://github.com/twitter/scrooge/blob/master/LICENSE#L190

[2013-03-20 17:03] #58 closed, assigned to nobody

[2013-03-22 22:47] blakesmith opened #59 "Problem with "include" definitions"
Hey there,

Given:

1. A project started created with `scala-bootstrapper`.
2. A two file thrift IDL definition, where one includes the other:

[code]

[code]

I'm getting compile errors from the generated code:

[code]

Oddly, when I wrap the user.User inside the testservice IDL in its own struct, I don't get the import errors anymore:

[code]

Output:

[code]

Here's my build.sbt:

[code]

I eve

[2013-04-15 17:52] #46 closed, assigned to nobody

[2013-04-16 07:50] ponkin opened #62 "Method names clashes in generated ThriftServer for ostrich server(i.e. 'shutdown')"
To reproduce create service IDL file

[code]

generate scala source with flag `--ostrich`

[code]

Compilation will fail with message

ExampleService.scala:3525: overriding method shutdow
n in trait Service of type ()Unit;
[error]  method shutdown in trait FutureIface of type ()com.twitter.util.Future[
Unit] has incompatible type
[error]   trait ThriftServer extends Service with FutureIface {
[err

[2013-04-23 15:18] Xorlev opened #63 "3.1.1 not available on Sonatype"
I was looking to use Scrooge 3.1.1, but I noticed that 3.1.0 was the latest available on Sonatype.

Are there plans to push 3.1.1 up soon?

[2013-04-23 18:00] #63 closed, assigned to nobody

[2013-04-23 18:17] ben-manes opened #64 "javac warnings in generated code"
To help maintain code health, we build with `-Xlint:all -Werror` by default. The generated thrift types and services contain warnings such as,

[code]

It would nice to have the code contain `SuppressWarnings` where appropriate so that the code is lint free.

P.S. This is on JDK6.

[2013-05-05 18:05] MasseGuillaume opened #66 "escape scala keyword"
<s>using a scala keyword in thrift definition should produce an error</s>

[2013-05-16 19:53] MasseGuillaume opened #68 "scrooge-3.1.1.zip is unavailable for sbt-scrooge"
Can you publish to your maven repo this artifact ?

I'm missing http://maven.twttr.com//com/twitter/scrooge/3.1.1/scrooge-3.1.1.zip for sbt-scrooge

[2013-05-20 12:38] xielong opened #69 "thrift idl containing UTF-8 produces java.nio.charset.UnmappableCharacterException"
E.g.

cat echo.thrift
/**
- 测试
  */
  namespace java com.mytest.finagle.thrift

service EchoService {
  string ping(string message)
}

java -jar scrooge-generator-3.1.1-jar-with-dependencies.jar --finagle --language JAVA  echo.thrift

Exception in thread "main" java.nio.charset.UnmappableCharacterException: Input length = 2
    at java.nio.charset.CoderResult.throwException(CoderResult.java:261)

[2013-05-21 02:55] #69 closed, assigned to nobody

[2013-05-21 03:16] xielong opened #71 ""example maven project" and "example pom file" links to the wrong page"
In the home page, the following two links point to the wrong address,
  "example maven project" should link to
  https://github.com/twitter/scrooge/tree/master/demos/scrooge-maven-demo, and
  "example pom file" should link to
  https://github.com/twitter/scrooge/blob/master/demos/scrooge-maven-demo/pom.xml.

[2013-05-28 21:43] N3mes1s opened #74 "Problem to Locate Scrooge Binary"
Hi,
after cloned and compiled the code with $./sbt +publish-local , I can't find the binary scrooge and scrooge-runtime.
where I find them?

Thanks

[2013-05-29 10:10] eirslett opened #75 "Scrooge compiler doesn't ignore #-style comments"
[code]

will not compile, due to the second line. But hash style comments are valid in IDL files. Any chance it can be fixed?

[2013-06-02 01:32] #71 closed, assigned to nobody

[2013-06-05 07:40] jackliuooooooo opened #76 "The variables in the startup script should be changed to the approprivate value by the deploy process."
I find the file named scrooge at "${PROJECT_HOME}/scrooge-generator/src/scripts", and here are the contents :

#!/bin/bash
HERE=$(dirname $(readlink $0 || echo $0))
java -jar $HERE/../scrooge-@VERSION@.jar "$@"

The variables, such as @VERSION@ should be changed by the deploy process.

[2013-06-07 11:54] seanparsons opened #77 "Provide some configuration around the collection types used."
It's often preferable to specify that the types generated are definitely immutable (scala.collection.immutable.Map rather than scala.collection.Map for example), especially when using libraries like scalaz. A config option to specify that would make this easier, as from looking at the code I can't see anything that requires mutability.

[2013-06-13 21:05] astubbs opened #80 "Issue building with spaces in path"
From a jenkins job with spaces in it's title...
    [INFO] BUILD FAILURE
    [INFO] ------------------------------------------------------------------------
    [INFO] Total time: 10.182s
    [INFO] Finished at: Thu Jun 13 21:00:23 UTC 2013
    [INFO] Final Memory: 18M/44M
    [INFO] ------------------------------------------------------------------------
    [ERROR] Failed to execute goal com.twi

[2013-06-15 22:08] ahanwadi opened #81 "Generated scala stubs don't compile when the thrift type contains field named 'runtime'"
build/generated-sources/thrift/thrift/Runtimetest.scala:124: value ScalaRunTime is not a member of String
  override def equals(other: Any): Boolean = runtime.ScalaRunTime._equals(this, other)
                                                     ^
build/generated-sources/thrift/thrift/Runtimetest.scala:126: value ScalaRunTime is not a member of String
  override def hashCode: Int = runtime.ScalaRu

[2013-06-26 21:05] #81 closed, assigned to nobody

[2013-08-07 08:11] y0un5 opened #84 "scaladoc warning caused by comments in generated code"
I'm using scrooge-sbt-plugin-3.1.5 with sbt-0.12.4, and have met following warning message during sbt doc.

[code]

I have found it is caused by the comments in generated code.

This is a part of my generated scala code.

[code]

In this code, scaladoc regards "$result" as a macro and because there is no define for "$result", it shows warnings.
(see Macros in https://wiki.scala-lang.org/display/SW

[2013-08-12 15:54] solongordon opened #85 "Upgrade to a modern thrift"
I'm attempting to use Scrooge to generate a Java Thrift client, but the generated code does not compile with Thrift 0.7.0 or higher. The generated Client class is declared:

[code]

However, TServiceClient was changed from an interface to an abstract class in Thrift 0.7.0 so this does not compile.

Any thoughts? Thanks.

[2013-08-13 20:16] johnrfrank opened #86 "turn off camel casing"
We just started using Scrooge for this example of streamcorpus generation in Scala, and it seems to be converting all of our method names to camel case.  For example,  "entity_type" becomes "entityType"

https://github.com/trec-kba/streamcorpus/blob/v0.3.0-dev/if/streamcorpus-v0_3_0.thrift

Is there a reason for this?  At the very least, it invalidates our documentation.  It also makes it painful

[2013-08-13 20:30] #86 closed, assigned to nobody

[2013-08-13 22:35] johnrfrank opened #87 "mutability issue"
Is there an argument to scrooge to cause it to make mutable structures, so we can add more data to the structures that we get out of thrift messages?

Our standard pipelining in other languages takes in a large thrift message, and then augments it with a few small additions, and then serializes it back out to another thrift protocol.

https://github.com/trec-kba/streamcorpus/blob/v0.3.0-dev/exampl

[2013-08-14 03:59] johnrfrank opened #88 "invalid scala generated for default values"
It appears that Scrooge generates invalid Scala when handling default values, like this:

https://github.com/trec-kba/streamcorpus/blob/2bd4562c2deebbc0b13beb2f558edfbde73c39d8/if/streamcorpus-v0_3_0.thrift#L774

The relevant thrift snippet is here:

enum Versions {
  v0_2_0 = 0,
  v0_3_0 = 1,
}
struct StreamItem {
  1: Versions version = 1,

Scrooge generates this:

[code]

which Scala will then

[2013-08-14 16:59] #87 closed, assigned to nobody

[2013-08-14 20:04] #88 closed, assigned to nobody

[2013-08-21 19:38] thecarlhall opened #89 "args decoding codec fails on enums"
In the switch statement that is used to decode an incoming thrift message, when an enum is encountered it is ignored. This is caused by the case for the enum field expecting to get a data type of `TType.ENUM` but the ruby client transmits the field as `TType.I32`.

[code]

[code]

In looking at the code from the Apache Thrift generator, it appears that enums are expected to be i32 there.

[code]

[2013-08-21 21:48] #89 closed, assigned to nobody

[2013-09-03 13:00] xielong opened #90 "Generate JavaBean style classes"
Hi,
How to generate JavaBean style classes? I use scrooge --finagle -l java X.thrift, but the class X has  not a zero argument constructor.

[2013-09-15 23:53] eirslett opened #91 "Deploy to public repositories?"
Seems like Scrooge hasn't been deployed to Maven Central for a while... I would love it if you could release some new versions!
For example, the Finagle build fails because it needs scrooge-sbt-plugin version 3.1.5...

[2013-09-16 09:24] #91 closed, assigned to nobody

[2013-09-19 15:07] jostick opened #92 "Fields of type set<enum> fail for all but TBinaryProtocol"
We have a struct like

[code]

Everything works fine when using TBinaryProtocol. But when using TCompactBinaryProtocol or TJSONProtocol, we get errors like:

[code]

The reason is, that the generated ThriftStruct writes the roles field like this:

[code]

TCompactBinaryProtocol and TJSONProtocol don't know the ENUM type and fail.

I guess Scrooge should generate

[code]

instead.

Note: I'm using

[2013-09-20 12:48] #92 closed, assigned to nobody

[2013-09-28 16:23] MasseGuillaume opened #93 "publish sbt-bower for sbt 0.13"
Is is possible to publish sbt-bower for sbt 0.13 on maven central ?

Thanks

[2013-10-11 22:09] eshelestovich opened #94 "hashCode() for objects with optional fields throws IllegalArgumentException"
Scrooge generates an incorrect `hashCode()` implementation for Java objects with optional fields causing `IllegalArgumentException`.

Steps to reproduce:
- Create a new Thrift structure:

[code]
- Generate Java source.
- Create an instance of `TestStruct` class. Do not set value.
- Call `hashCode()` directly or put the object into a `j.u.HashMap`:

[code]

Expected result: successfully calculated

[2013-10-14 08:42] DiveInto opened #96 "Error when generating thrift files contains Union"
if I include a union type in thrift file, the generating process fails:

[code]

below is the versions I choose in my project(you can see it [here](https://github.com/DiveInto/thrift-server)):
[code]

after several attempts, seems that above is the latest scrooge version I can choose.

any advice? Thanks

[2013-11-08 22:01] ngocdaothanh opened #97 "Update README and the homepage to mention the latest version"
They currently mention version 3.3.2 (and only Scala 2.9.2, while Scala 2.10 support has already been added).

[2013-11-08 22:04] ngocdaothanh opened #98 "scrooge-sbt-plugin: Release for SBT 0.13"
Currently SBT 0.12 is supported.

I can't build Finagle with SBT 0.13:

[code]

[2013-11-15 15:08] seanparsons opened #99 "ConstMap values for fields in a service function aren't supported."
The IDL docs here:
http://thrift.apache.org/docs/idl/

Say that for a function in a service the syntax is the following:

[code]

For a field the syntax is as follows:

[code]

ConstValue allows the following:

[code]

A ConstMap is this:

[code]

Following on from that the following code should work fine (and does with the thrift command line tool):

[code]

But the Scrooge generator gives the fo

[2013-11-18 21:17] arboreal84 opened #100 "Scrooge doesn't convert 0/1 based booleans"
[code]

is translated to

[code]

which doesn't compile

[2013-11-22 23:10] ghost opened #101 "Deserializing a struct serialized with a different definition results in a java exception"
I would expect a Scrooge exception for serialization problems, not java.lang.reflect.InvocationTargetException

[2013-11-26 18:35] #101 closed, assigned to nobody

[2014-02-13 15:15] #68 closed, assigned to nobody

[2014-02-22 03:17] mdietz198 opened #108 "Defining const struct value with {} throws exception"
The IDL below is valid for assigning a default value to a struct field. This IDL works in apache thrift:

[code]

However, scrooge throws a com.twitter.scrooge.frontend.TypeMismatchException on the `const` definition.

This IDL corresponds to [this bug](https://issues.apache.org/jira/browse/THRIFT-864) in apache thrift which is now fixed.

I was able to recreate the stack trace by adding this test

[2014-03-05 17:38] #98 closed, assigned to nobody

[2014-03-06 14:34] sslavic opened #111 "Scrooge Thrift parser does not handle Thrift IDL file with comments at the end"
Apache Thrift [tutorial.thrift](https://git-wip-us.apache.org/repos/asf?p=thrift.git;a=blob_plain;f=tutorial/tutorial.thrift) example IDL file ends with block comment. Scrooge 3.12.3 Thrift parser fails to parse it with following error

[code]

Once comment is deleted, together with its companion [shared.thrift](https://git-wip-us.apache.org/repos/asf?p=thrift.git;a=blob_plain;f=tutorial/shared.th

[2014-03-25 02:09] orsenthil opened #115 "Document --gen-file-map flag"
I see that this flag was added in 3.0.2

https://github.com/twitter/scrooge/blob/master/CHANGES#L402

And is quite heavily used by Pants build system. But the documentation of the scrooge command does not seem to mention it.
http://twitter.github.io/scrooge/CommandLine.html

CLI options needs to be updated.

[2014-03-31 07:32] trustin opened #116 "Scrooge-generated scala code inserts a null comparison that's always false."
When I build the scala code generated by scrooge, I sometimes see the following warnings:

[code]

Assuming that these warnings are only for primitive fields (Long/Short/Boolean..), we could drop this check for primitive type fields.

[2014-04-02 18:27] jamiltron opened #117 "Generating a Client for a service results in an attempt to implement an abstract class"
When generating Java for a Thrift service using Scrooge, this client is generated:

[code]

However, TServiceClient is an abstract class, not an interface (it appears it was an interface in Thrift 0.6.1-)

Running Scrooge-less thrift generates the correct:

[code]

I noticed that the generated code is pulling in a class from the finagle.thrift package, which seems to also be requiring libthrift 0.

[2014-04-03 19:02] #117 closed, assigned to nobody

[2014-04-09 08:01] fleminra opened #118 "list inside union: java.lang.VerifyError and "Error exists in the bytecode""
The following compiles fine but has a runtime error when ```f()``` is invoked:
[code]

The mere _presence_ of a ```list``` inside the ```union``` causes this problem, even if the server code does not create a ```union``` that uses the field defined as the ```list```.

The error:
[code]

Versions:
* com.twitter:finagle-thrift_2.10:6.13.1
* com.twitter:scrooge-runtime_2.10:3.13.0
* org.apache.thrift

[2014-04-14 19:40] #116 closed, assigned to nobody

[2014-04-17 21:33] #115 closed, assigned to nobody

[2014-04-30 09:39] elbiczel opened #121 "Add import scala.language.higherKinds to generated code"
In scala 2.10.3 when scalac -Xlint option is enabled a warning is generated that generated sources use higherKinds: http://www.scala-lang.org/api/2.10.3/index.html#scala.language$@higherKinds:languageFeature.higherKinds . It would be good to add ``` import scala.language.higherKinds ``` to the generated source code, so that one does not need to include ```-language:higherKinds``` scalac option on

[2014-05-11 19:40] zfy0701 opened #123 "How to get a companion object for the type of a field to partially serialize a thrift struct"
if I define 2 struct

struct A {
}

struct B {
   1: A a
   2: String b
   3: Int c
}

and if I want to generate a json for B, it is easy, I just create a serializer for B and serialize it.

if I only want to generate a partial json object, e.g. a json object which only contains "a " and "c" field, I would pick the value of this to field and serialize them separately. e.g. the interface is like:

[2014-05-12 21:31] #123 closed, assigned to nobody

[2014-05-14 07:36] sslavic opened #125 "Support closing underlying service"
Please add support for closing underlying service when closing server, and when closing client.
For more details see [this](https://groups.google.com/d/msg/finaglers/OxAOu-iPVI0/Bd7CfDRhlDEJ) discussion at finaglers mailing list.

[2014-05-15 22:16] staticjak opened #126 "TypeMismatch on Set type with default value as {}"
The following struct definition will compile with thrift 0.8.0, but fails with a TypeMismatchException in scrooge.

[code]

Exception in thread "main" com.twitter.scrooge.frontend.TypeMismatchException: Expecting SetType(TString,None), found MapRHS(List())

[2014-05-30 13:45] dlpatri opened #128 ""oneway modifier not supported"..."
Quick question for you guys.

I'm trying to use Scrooge in my Scala, client application to connect to a legacy Thrift service. The service declares in it, the following RPC:

[code]

I now get the following warning, "Warning: oneway modifier not supported by Scrooge in function close". The only thing I see in the documentation about the oneway modifier is that in version 3.4.0, there was a "tiny f

[2014-06-09 06:07] arboreal84 opened #129 "Scala 2.11 support"
2.11 is the new stable version of the Scala language.
When will Scrooge support Scala 2.11?

[2014-06-30 03:51] haorendashu opened #130 "Class file named error!"
My struct define in thrift file is:

[code]

but i use the maven plugin to generate the java class and the class file is named Ab.java

it could not named a public class AB in a Ab.java file.

you should change the file name from Ab.java to AB.java

[2014-07-02 20:24] #126 closed, assigned to nobody

[2014-07-03 20:41] travisbrown opened #131 "Clarify status of command-line interface"
See e.g. [this Stack Overflow question](http://stackoverflow.com/q/24562334/334519).

If the CLI is supported we should provide installation instructions [here](http://twitter.github.io/scrooge/CommandLine.html), and if not we should remove that page, or at least flag its status.

[2014-07-03 22:29] anshumans opened #132 "RepeatingEnumValueException when parsing enum with hex values"
In my .thrift, I have :

[code]

I get a FileParseException caused by RepeatingEnumValueException: Repeating enum value in TrueFalse: 1.  Replacing the hex value with 2147483647 (Int.MaxValue) results in no error.  Is this a bug?

[2014-08-06 23:31] #111 closed, assigned to nobody

[2014-08-13 19:21] #75 closed, assigned to nobody

[2014-08-14 06:30] bxy09 opened #136 "please update the readme file and documents about the version "3.3.2""
Actually we can't obtain this version of scrooge from repository of maven.

[2014-09-18 22:22] #131 closed, assigned to nobody

[2014-09-22 18:20] #45 closed, assigned to nobody

[2014-09-22 18:53] #18 closed, assigned to nobody

[2014-09-22 18:55] #31 closed, assigned to nobody

[2014-09-22 18:58] #14 closed, assigned to nobody

[2014-09-22 18:59] #57 closed, assigned to nobody

[2014-09-22 19:06] #32 closed, assigned to nobody

[2014-09-22 19:10] #33 closed, assigned to nobody

[2014-09-22 19:11] #16 closed, assigned to nobody

[2014-09-22 21:11] #62 closed, assigned to nobody

[2014-09-22 21:28] #84 closed, assigned to nobody

[2014-09-22 21:50] #74 closed, assigned to nobody

[2014-09-25 18:11] jedesah opened #151 "[sbt-plugin] Add thrift files to published artifact"
See this SO question for background: http://stackoverflow.com/questions/26026575/how-does-publishing-a-thrift-repo-work-with-scrooge-and-associated-plugins

[2014-10-30 18:25] #108 closed, assigned to nobody

[2014-11-23 01:51] zfy0701 opened #160 "Add support for Tree/Recursive structs"
which has already been included in thrift 0.9.2:
https://issues.apache.org/jira/browse/THRIFT-2421

[2014-12-06 00:15] jedesah opened #161 "[Broken build] Twitter util 6.22.2 is not on maven central"
The build is broken right now. It would appear that among other things, Scrooge is depending on util version 6.22.2 but maven central only has version 6.22.1.

![util-core](https://cloud.githubusercontent.com/assets/1780116/5325182/8729e194-7c99-11e4-92ad-dadd10b15c46.jpg)

[2014-12-08 19:49] janghwan opened #162 "Cannot use '_1' as a thrift identifier."
The native thrift allows underscore in variable name, but scrooge scala generator does not seem to handle it properly.

This thrift definition

[code]

generates

[code]

, which is wrong obviously.
The identifiers need to be escaped as long as it uses scala.Product.

[2014-12-13 21:37] teodimoff opened #163 "com.twitter.io.Buf"
I searched but did not find if scala generated code can use Buf implementation instead ByteBuffer. I find it very sad that the generated code has to jump between Buf and ByteBuffer if it has to be passed around. I realize that using Buf is somewhat limited but any luck that can be made configurable in the future ?

[2014-12-14 16:48] #163 closed, assigned to nobody

[2014-12-15 23:12] #161 closed, assigned to nobody

[2014-12-22 20:22] steveniemitz opened #165 "Generated code from scrooge is incompatible with thrift if a service method returns an enum"
Given an example thrift file:

[code]

Thrift will generate this code as part of the codec:
[code]

Where as scrooge will generate this:
[code]

Note the main difference here is that scrooge is expecting an ENUM type, where thrift is expecting an i32.  The format on the wire is in fact encoded as an i32 coming from a thrift service.  The net result is that all calls return null instead of the actu

[2015-01-07 04:13] ryanone commented on #59
Being new to this thread, and recognizing this is an old conversation, is there any chance of supporting this?

[2015-01-07 18:17] nshkrob commented on #59
The example thrift in the first post works with scrooge 3.17.0, and scala-bootstrapper is no longer maintained.

I'm closing this issue, but feel free to include more info on why you need this/what you are doing that is broken.

[2015-01-07 18:17] #59 closed

[2015-01-07 19:55] sachinmaharjan opened #166 "UnREsolved dependencies for scrooge-sbt-plugin 3.3.2"
When running the sbt update to add dependencies, I am getting unresolved dependencies warning and it crashed. Any fix for this?
[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] 	::          UNRESOLVED DEPENDENCIES         ::
[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] 	:: com.twitter#scrooge-sbt-plugin;3.3.2: not found
[warn] 	::::::::::::::::::::::::::::::::::::::::

[2015-01-07 21:35] nshkrob commented on #165
I assume you use --language=java? Scrooge 3.17.0 generates different output for me:

$ java -jar $jar -l java issue-165.thrift --verbose
$ cat thrift/test.java
...
      switch (field.id) {
        case 0: // SUCCESS
          if (field.type == TType.I32) {
            this.success = ResultCode.findByValue(iprot.readI32());
          } else {
            TProtocolUtil.skip(iprot, field.type);

[2015-01-07 22:31] steveniemitz commented on #165
We're building with language=experimental-java, also on 3.17.0.

[2015-01-07 22:40] nshkrob commented on #165
I see, now I can reproduce this - reopening. experimental-java isn't as widely used by us, but patches are welcome to fix this.

[2015-01-07 22:47] sachinmaharjan commented on #166
addSbtPlugin("com.twitter" %% "scrooge-sbt-plugin" % "3.14.1") works.

[2015-01-14 01:37] dmontauk commented on #86
This is turning out to be a problem for us as well. We're happy to do it locally-only; any chance we could get a link to the class we need to override to get rid of this behavior?

[2015-01-14 23:11] boclair commented on #118
I'm encountering the same bug, and I also have a union with a list in it.

Using scrooge 3.17, thrift 0.9.2, and sbt 13.6

Any updates?

[2015-01-14 23:51] dmontauk opened #168 "--experimental-java is unable to parse constants defined inline"
Simple Thrift file:

[code]

This works with Apache Thrift:
`thrift --gen java -strict --debug -v /tmp/scrooge/test.thrift`

But fails in Scrooge:
`./sbt 'scrooge-generator/run-main com.twitter.scrooge.Main -l experimental-java test.thrift`

[code]

[2015-01-15 02:11] nshkrob commented on #118
The example from the first comment works for me (I've modified https://github.com/twitter/finagle/tree/master/finagle-example to run it). Note that finagle uses libthrift 0.5.0.
How are you running it and what are you seeing?

[2015-01-15 05:04] boclair commented on #118
Thanks for replying.  In summary I fixed my problem by upgrading to JDK version 1.8.0_25.

I believe that scrooge was generating code that was hitting this bug https://issues.scala-lang.org/browse/SI-8645  And thus throwing a
[code]

I have more info if you are curious, but I believe the issue to be resolved now.  Thanks.

[2015-01-15 18:29] nshkrob commented on #118
Great, thanks for digging into this. I'm closing the issue.

[2015-01-15 18:29] #118 closed

[2015-01-20 10:00] bzz commented on #85
@sprsquish Is this still an issue: am I right that scrooge 3.17.0 with "experimental-java" still generates only libthrift 0.5 compatible code?

If that's true, that pretty much might be worth documenting somewhere to save people's time who try to follow Thrift 0.9 http://thrift.apache.org/tutorial/java with scrooge

[2015-01-20 11:24] eirslett commented on #85
experimental-java generates code for Thrift 0.9.
But it still doesn't cover all edge cases, like struct constants.

[2015-01-22 21:32] kevinoliver commented on #86
@dmontauk — I *think* a good place to start would be ``Identifier.toCamelCase``

[2015-02-10 00:24] jedesah opened #170 "Add instance of `LabelledGeneric` to Scrooge structs (under a flag)"
I am trying to get rid of a fork of Scrooge that we have at Whitepages. This is the last step to get rid of it. The main reason for our fork right now is to supply Json Codecs for Scrooge Structs (because previously we were reflecting over Scrooge structs (before I got here) and that turned out to be a horrendous idea as you can expect, for multiple reason). I never bothered asking if we could mer

[2015-02-10 19:17] jstultz opened #171 "unapply method should return Option[TupleN] not Option[ProductN]"
Perhaps there is a reason for this that I'm unaware of, but the generated unapply method for thrift structs returns a Product rather than a Tuple. Is there a reason why this is preferred? Behavior for case classes in scala is to return a Tuple, and this is more flexible as it will work with code that expects either.

I ran into this issue when using a generated class in a slick projection, which w

[2015-02-25 00:02] colinmarc opened #172 "My kingdom for a scrooge-generator_2.11 jar"
All the dependencies seem there, but when I try to build with `./sbt ++2.11.5 package`, I get

[code]

And none exist on central, that I can see. I think my sbt-fu might just suck, help?

[2015-02-27 01:05] vsabella opened #174 "Scrooge generator cannot parse files with // comments not on their own line"
We noticed that // comments inline with thrift structs will break scrooge parsing. The standalone thrift compiler doesn't mind these.

[code]

[2015-03-02 11:00] lxyu opened #175 "The RepeatingEnumValueException not existed in Apache Thrift"
The upstream Apache Thrift don't set a rule of `RepeatingEnumValueException`, maybe it should be removed or downgrade to warning rather than exception.

[2015-03-05 07:45] lxyu commented on #175
I'm wrong, this should be a problem in Apache Thrift side.

[2015-03-05 07:45] #175 closed

[2015-03-12 09:07] qiyang0221 opened #177 "Building Scrooge Error"
when run ./sbt +publish-local,
I got an error
(scrooge-runtime/*:update) sbt.ResolveException: unresolved dependency: org.apache.thrift#libthrift;0.5.0: not found
Should I change any ivy files or pom files?where to change?

[2015-03-13 00:23] nshkrob commented on #177
Scrooge uses http://maven.twttr.com/ to resolve libthrift/0.5.0-1:
https://github.com/twitter/scrooge/blob/master/project/Build.scala#L97

Make sure you can reach that server.

[2015-03-14 14:20] qiyang0221 commented on #177
Yes, I can reach http://maven.twttr.com/ by chrome, it tell me it works.
Is there any problem with my environment?

[2015-03-16 05:49] qiyang0221 commented on #177
ping maven.twttr.com timeout. Is there any other repo to replace maven.twttr.com

[2015-03-16 17:11] nshkrob commented on #177
This looks like a network issue on your side.
Note that you only need to download the jars once, and then maven should cache it locally for later builds. If you can reach that server intermittently, you can try until it works, or use some kind of a proxy to reach it.

[2015-04-02 20:21] nshkrob opened #182 "Scrooge-maven-plugin doesn't work with language=java."
Sample pom.xml file: https://gist.github.com/nshkrob/71b44aa3b7bde3c3a31e

mvn compile fails with dependency errors.

The plugin works with language=scala.

[2015-04-23 05:31] sagemintblue commented on #171
Or how about making the internal `Immutable` class a case class, which would give us an alternative `unapply`?

I'd like to take advantage of implicits available for `TupleN` types, which are generally not available for `ProductN` types, for instance those within `scala.math.Ordering` and `com.twitter.algebird.Semigroup` /cc @johnynek

[2015-04-27 20:32] richid opened #184 "Nonexistent dependency in scrooge-maven-plugin"
The `scrooge-generator` version was bumped to `20150406130043-4945435` in https://github.com/twitter/scrooge/commit/08929dd5dc5549f816f552360da41a3d7b8f53d0 but this artifact does not exist in Maven central or anywhere else I checked. Further, the plugin version was not revved so new installs of version `3.17.0` of this plugin will fail due to a missing dependency.

[2015-04-28 02:01] adriancole commented on #184
got this, too, even setting twitter's repo

[code]

[2015-04-28 03:12] adriancole commented on #85
Using the maven plugin, I can't seem to get a `$FinagleClient` subclass to generate.

Has the 'experimental-java' language with `--finagle` option been tested, lately. Simply switching the language to scala with the following mojo generates the `$FinagleClient` fine in scala.

[code]

[2015-04-29 23:28] nshkrob commented on #184
Yep, this is a problem, thanks for reporting. We should release a fixed version soon.

[2015-04-29 23:31] isnotinvain commented on #184
Related parquet jira: https://issues.apache.org/jira/browse/PARQUET-268

[2015-04-30 12:43] maasg opened #185 "Unable to parse configuration com.twitter:scrooge-maven-plugin:3.18.0:compile for parameter localRepository"
After having to update to version 3.18.0 due to the issue with 3.17.0 described on #184 , I'm hitting the wall with this error:
[code]
I checked the code [here](https://github.com/twitter/scrooge/blob/scrooge-3.18.0/scrooge-maven-plugin/src/main/java/com/twitter/AbstractMavenScroogeMojo.java#L181)  and that property has a default value if not provided.

No matter what I do, not add it or provide i

[2015-04-30 13:33] maasg commented on #185
I see that this part of the code has been recently introduced with: https://github.com/twitter/scrooge/commit/08929dd5dc5549f816f552360da41a3d7b8f53d0

[2015-04-30 13:43] maasg commented on #184
The issue is here: https://github.com/twitter/scrooge/commit/08929dd5dc5549f816f552360da41a3d7b8f53d0#diff-83adb9f8b7e12e795e5c6fab201a92bcR245

[2015-04-30 16:50] nshkrob commented on #185
We are working on fixing this, thanks for reporting.

[2015-04-30 21:37] nshkrob commented on #184
We've fixed scrooge-maven-plugin 3.17.0 on maven.org. Sorry about the breakage. Please let us know if this is still a problem.

[2015-04-30 21:37] #184 closed

[2015-05-02 05:29] vsabella opened #186 "Scrooge 3.18.1 not release for Scala 2.11"
Scrooge 3.18.1 was not released for Scala 2.11 on Maven Central, is that by design?

[2015-05-02 07:24] mosesn commented on #186
@vsabella I ran into trouble with mustache, where it wasn't easy for us to upgrade to a newer version of mustache that supported 2.11.  I don't remember the specifics, but we'd be happy to look into it again if you make a PR.

[2015-05-04 18:59] nshkrob commented on #185
This has been fixed. Please upgrade to scrooge-maven-plugin 3.18.1.

[2015-05-04 18:59] #185 closed

[2015-05-04 20:05] maasg commented on #185
Thanks for the quick solution!

[2015-05-06 02:37] stephanh opened #188 "`scroogeGen` list of generated source files is wrong"
The list of generated source files that `scroogeGen` in the Scrooge SBT plugin returns contains all the files under `src_managed` instead of just the files added by Scrooge. This means that any existing files are added twice.

Using Scala 2.11 this causes the compiler to fail with the error `x is already defined as ...`.

[2015-05-20 02:23] alexflav23 opened #190 "Thrift dependencies have compilation error in 3.18.1"
Hi,

Got a strange compilation problem in referencing Thrift dependencies. We've upgraded several projects from older versions to Finagle `6.25.0` and Scrooge `3.18.1`.

[code]

Now the problem I have is that I cannot reference Thrift dependencies and structs without the following compilation error for the Thrift definition:

[code]

[code]

Any suggestions as to why this could be?

Regards.

[2015-05-20 17:10] nshkrob commented on #190
Recent Scrooge versions added withoutPassthroughFields in generated code. Looks like PasswordToken was generated by an older Scrooge. Make sure to rebuild the dependencies (including code you are consuming from jars).

[2015-05-21 20:22] arkadiyt opened #191 "JsonThriftSerializer produces invalid JSON for maps with integer/enum keys"
Consider the following thrift struct:
[code]

When I serialize it with JsonThriftSerializer:
[code]

I expect to get:

[code]

I actually get:
[code]

which is not valid json. For instance attempting to parse with jq:
[code]

[2015-05-22 00:35] johnynek commented on #191
We are actually just calling through to Thrift's JSON support, which it appears is broken.

Two ways forward:

1) Figure out if the thrift was fixed in a later version.

2) Write our own TProtocol that does a better job here.

[2015-06-03 09:10] diguage commented on #85
Setting <language>experimental-java</language>, it can generate 0.9-compatible files.

The document should indicate it.

[2015-06-03 14:40] benjumanji commented on #85
@adriancole #182

[2015-06-04 05:18] AndreiBarsan opened #192 "Supporting `withFoo(newValue)` methods"
One of the biggest differences between accessing regular Thrift structs and Scrooge structs in Scala is that the latter are immutable. That is, if one wishes to "modify" a Scrooge Thrift, one must manually create a copy of it with all fields identical, with the exception of the one(s) we want to modify, which can be a bit tedious.

To facilitate this workflow, a possible solution would be to add a

[2015-06-04 17:27] nshkrob commented on #192
Scrooge-generated structs have a copy method that does this:

student.copy(firstName = "asdf")

[2015-06-04 17:38] #192 closed

[2015-06-14 16:49] csaltos commented on #186
FYI I've just opened this post on mustache group -> https://groups.google.com/forum/#!topic/mustachejava/8acnzuaoAG8

[2015-06-15 01:02] csaltos commented on #186
Dear @mosesn in the meantime I've made this PR -> https://github.com/twitter/scrooge/pull/193

[2015-06-15 20:38] csaltos commented on #186
TravisCI is missing finagle and util dependencies on PR https://github.com/twitter/scrooge/pull/193, so I'm creating a new PR trying to correct this.

[2015-06-15 20:43] csaltos commented on #186
OK, ready !! ... At the PR https://github.com/twitter/scrooge/pull/194 the build should be fixed for TravisCI and a ready Scala 2.10/Scala 2.11 cross versioned build (I hope).

[2015-06-15 21:12] csaltos commented on #186
FYI I create this issue at mustache -> https://github.com/spullara/mustache.java/issues/146

[2015-07-06 10:23] viktortnk commented on #186
Considering (JDK 7 support for Finagle and associated projects) https://groups.google.com/forum/#!topic/finaglers/wkB9hDeLrSo

Am I right to think that it won't be an issue after 1st of August?

[2015-07-12 21:15] stephenh opened #197 "Document libthrift 0.5 vs. 0.9.1 decision/compatibility/options"
Hi,

After several years of running an ancient/trunk/pre-release build of libthrift, we finally went through the process of moving to libthrift 0.9.1 (with the canonical thrift codegen output) ~a year or so ago.

Today I was hoping to do a spike with Scrooge, but I noticed the libthrift 0.5.0-1 version. I understand if internally you're still on libthrift 0.5.0-ish, and so don't want to/can't run

[2015-07-13 17:24] nshkrob commented on #197
Hi @stephenh, we still use libthrift 0.5.0 because upgrading would require some work to upgrade internal users at Twitter. We do plan to upgrade to 0.9.x eventually (we don't have a date for that though).

The two libthrift versions are wire-compatible, and the API changes are small. Depending on what other dependencies you have, either of your options a) and b) would work. I.e. you might be able

[2015-07-14 07:44] stephenh commented on #197
Hi Nik,

Thanks for the response; I'll try forcing the runtime version to libthrift 0.9.1 as a first step and see what happens.

[2015-07-14 14:53] stephenh commented on #197
I did some quick spikes with forcing libthrift 0.9.1 at runtime and everything seems fine so far. Whew! :-)

I'll have to do some more vetting, and not sure if we'll end up using this widely/in production, but so far so good.

Thanks for the clarifications!

[2015-07-14 14:53] #197 closed

[2015-07-18 17:09] adriancole commented on #129
Looks like we have an candidate fix https://github.com/twitter/scrooge/pull/198

Can someone see if this is ok to merge? This is blocking zipkin for example, who want to support scala 2.11

[2015-07-29 22:21] vsabella opened #199 "Scrooge no longer can compile thrift-only JARs"
The change for Scrooge to allow thrift files to be published in dependency jars, 1ab8b6650dddbf54f5d2bfa81a9321975ecfca3c appears to prevent thrift-only jars from being an option now.

Our team ships thrift-only JARs which we expect Scrooge to compile but as of 3.20 this is no longer the case.

[2015-07-29 22:24] nshkrob commented on #199
@jedesah FIY. I guess we should handle thrift-only jars separately.

[2015-07-29 22:35] jedesah commented on #199
@nshkrob That sounds reasonable to me.

[2015-08-31 14:57] adriancole opened #203 "Guard use of BinaryProtocol.setReadLength"
Via 018aef8c27d22ab3b8a7fb1c798ee767099ecb6d, scrooge started using `TBinaryProtocol.setReadLength` about 2 weeks ago.

This pins the maximum libthrift version to 0.9.0 as `TBinaryProtocol.setReadLength` was removed starting in 0.9.1.
https://github.com/apache/thrift/commit/2ca9c2028593782621c8876817d8772aa5f46ac7

Can this be implemented in a way that's compatible with versions beyond 0.9.0? Here

[2015-09-01 00:07] kevinoliver commented on #203
that seems like a reasonable way to patch it.

[2015-09-01 16:28] JanBessai commented on #12
I am using a vanilla thrift generated server (.net even). The only thing I had to do was using `TFramedTransport` instead of the default one.

[code]

[2015-09-02 15:21] adriancole commented on #203
ok I'll give a try at patching this.

[2015-09-10 13:31] adriancole commented on #203
started to look at patching, but the project setup seemed far more effort than the actual change. ducking in hopes someone else can do it that already has scrooge and its various dependencies staged.

[2015-09-30 07:20] reikje opened #206 "Generate type alias from the scrooge-sbt-plugin"
When working in a client class, which uses a bunch of thrift services, it would be nice to have type aliases generated. Currently I do this manually:

	import my.package.FooService.{FutureIface => FooFutureIface}
	import my.package.BarService.{FutureIface => BarFutureIface}
	import my.package.DoeService.{FutureIface => DoeFutureIface}

instead of using `FutureIface` directly - I program against th

[2015-09-30 18:47] nshkrob commented on #206
You could use FooService[Future] instead of the FutureIface. Another option is to import FooService and use FooService.FutureIface.
In general, we want to minimize what Scrooge generates, and in this case I think there are simpler alternatives.

[2015-10-01 07:54] reikje commented on #206
Thanks, i'll look into using `FooService[Future]` from now on.

[2015-10-01 07:54] #206 closed

[2015-10-15 20:35] matthandlersux opened #209 ""compile" function in ScroogeSBT conflicts with sbt.Keys.compile"
adding the scrooge sbt plugin causes sbt to import all of it's keys into the namespace of a `built.sbt` file. so in `build.sbt`, the top of the file magically receives:

[code]
this includes the `compile` function here: https://github.com/twitter/scrooge/blob/develop/scrooge-sbt-plugin/src/main/scala/com/twitter/ScroogeSBT.scala#L13 , but it collides with https://github.com/sbt/sbt/blob/1.0.x/main

[2015-10-15 23:48] mosesn commented on #209
Sweet, you mind making a PR?

[2015-10-16 20:04] matthandlersux commented on #209
@mosesn yup, should have some time this weekend

[2015-10-22 10:16] reikje commented on #188
I think I am hitting this issue still :( To reproduce:
* clone https://github.com/reikje/scrooge_sbt_2.11_test
* `sbt run`

It works when I:
* either change `scalaVersion` back to  `2.10.x`
* or use `2.11.x` and version `3.14.1` instead of `3.18.1` of the `scrooge-sbt-plugin` under `/project`

[2015-10-22 16:51] mosesn commented on #188
Hmm, any ideas how to fix this?  I haven't taken a close look yet, any ideas would be helpful.

[2015-10-28 13:21] drozzy opened #212 "scrooge sbt plugin 2.11 support and location?"
While scrooge-core is available for Scala 2.11, `scrooge-sbt-plugin` requires Scala 2.10

Also, in the docs (https://twitter.github.io/scrooge/SBTPlugin.html), plugin version "3.18.1" is indicated, yet I can't find that version in the repo:
https://oss.sonatype.org/content/groups/public/

Am I looking in the wrong place?

[2015-10-28 16:12] vkostyukov commented on #212
Hey @drozzy,

`scrooge-sbt-pluing` is published to [Bintray]( https://bintray.com/twittercsl/sbt-plugins/scrooge-sbt-plugin/) while the rest of the Scrooge goes to MC. Looks like 3.18.1 is [there](https://bintray.com/twittercsl/sbt-plugins/scrooge-sbt-plugin/3.18.1/view).

[2015-10-29 14:43] travisbrown commented on #212
@drozzy For the record, SBT plugins must have the same Scala version as the version of SBT a project uses, which for SBT 0.13 is 2.10. In general SBT plugins do not need to be published for every version that a project is cross-built against (e.g. a Scala 2.11 version of the Scrooge SBT plugin would be useless, since there's no SBT version that uses 2.11).

[2015-10-29 20:58] drozzy commented on #212
@vkostyukov Thanks, much appreciated. Would be nice if this was indicated in the docs somewhere :-)
So what would I put as a repository url for bintray? (I assume it's not in default sbt repos...)

@travisbrown I think I get what you're saying, but it is rather confusing, since I, as a user, might not even know what version of scala my sbt uses :-)

[2015-10-29 22:13] drozzy commented on #212
So I've managed to get my sbt to stop complaining... But now plugin doesn't actually do anything.

Here is my `build.sbt`:

[code]

here is my `project/plugins.sbt`:

[code]

I have a thrift definition in `src\main\scala\thrift\protocol.thrift`:

[code]

but none of the target directories get any new compiled classes... :(

[2015-11-09 09:21] notxcain commented on #212
@drozzy  Did you figure out how to make it work?

[2015-11-12 14:56] vpavkin opened #213 "Sbt cannot start with scrooge-plugin 4.1.0 and http://maven.twttr.com resolver"
It failes to resolve dependency `"org.apache.thrift" % "libthrift" % "0.5.0-1"`. http://maven.twttr.com doesn't have it.

A workaround is to add http://mirrors.hypo.cn/twttr-maven/ to resolvers, it has this jar.

[2015-11-12 17:16] mosesn commented on #213
@vpavkin I think maven.twttr.com should have [it][0], but you might need to use https to access it.

[0]: https://maven.twttr.com/org/apache/thrift/libthrift/0.5.0-1/

[2015-11-13 06:57] vpavkin commented on #213
OMG... thanks! :)
Sorry for stupid issue.

[2015-11-13 06:57] #213 closed

[2015-11-24 16:33] iwataka commented on #177
I got the same error and solved it by adding `resolvers += "twitter-repo" at "https://maven.twttr.com"` to `project/plugins.sbt`.
I hope this can help you.

[2015-12-01 22:58] ryanoneill commented on #177
Closing this issue as it appears to be a problem with reaching maven.twttr.com.

[2015-12-01 22:58] #177 closed

[2015-12-02 19:41] ryanoneill commented on #212
FYI, I've updated the versions used in the Scrooge docs, specifically the SBTPlugin page.
http://twitter.github.io/scrooge/SBTPlugin.html

That may help.

[2015-12-04 08:39] taylorleese commented on #212
@ryanoneill It looks like the quick start section of the readme.md needs updating as well and it also looks like @vkostyukov just released version 4.3.0 and the readme.md references version 4.2.0. We need to automate updating these versions everywhere including the places you updated in your recent commit.

[2015-12-04 08:42] taylorleese commented on #212
@ryanoneill Can we close this once we clean up the versions?

[2015-12-09 22:20] drozzy commented on #212
@notxcain No, I just gave up on it :-(

Sorry I can't help you guys, I've switched to a different project.

[2016-01-05 22:24] jstultz commented on #199
Just wanted to chime in with some support for a change to consider thrift-only jars. I'm in the process of updating scrooge in our infrastructure, and the version we are currently using predates the referenced commit. Internally, for thrift dependencies, we exclusively use jars containing only thrift sources. For now, we are going to work around the issue with the following setting:

[code]

Howev

[2016-01-11 18:57] pavanch007 commented on #160
Is anyone working on this scrooge feature?

[2016-01-12 00:42] kevinoliver commented on #160
@pavanch007 nobody here at twitter is working on it as far as i know.

[2016-01-12 23:15] pavanch007 commented on #160
Thanks.. good to know. I will take this on.. do you have any pointers to start with this task?

[2016-01-14 05:25] kevinoliver commented on #160
@pavanch007 nice! i haven't spent any time thinking about this one so i don't have much in the way of advice.

best i can do is tell you what i'd do. i'd start by adding a recursive struct and service using that struct to a test idl in scrooge-generator. then see what blows up when you run the tests. once the parser and generator is not blowing up, i'd update a test case to use the recursive struc

[2016-01-14 06:38] futureskywei opened #216 "generate scala code if Enum is not found throw exception"
I use scrooge generate scala client code, if the thrift server add a new  value to Enum , the client can't recognize it and it will throw NoSuchElementException.But I don't think it should throw exception.It should return null if the value is not found.
the scala result :
  def apply(value: Int): com.twitter.finagle.thrift.order.OrderAuditingState =
    value match {
      case 1 => com.twitter.fi

[2016-01-14 22:09] kevinoliver commented on #216
For Scala, Scrooge generates also generates a `get(Int): Option[YourEnum]` and a `getOrUnknown(Int): Option[YourEnum]` method. Having `apply` fail seems like idiomatic Scala to me (e.g. `scala.collection.Map` follows this pattern).

In your use case, can you use one of the other two methods?

[2016-01-25 19:35] leoneuwald opened #217 "Output Directory scrooge-maven-plugin"
I use scrooge-maven-plugin to generate java files in my project, but the plugin generate a folder named _scrooge_. (after _outputDirectory_ definition).

**Example:**
- If **outputDirectory** is **C:\project\test** and the namespace in **File.thrift** is **namespace java com.app.thrift** the file output will be created in **C:\project\test\scrooge\com\app\thrift\File.java** instead of **C:\project

[2016-01-26 20:57] ryanoneill commented on #217
Hi @leoneuwald. We don't use maven much internally anymore, so the maven plugin is not something we are modifying much. If you'd like to take a crack at a pull request to be able to control where the files are output, we'd be happy to take a look.

Based on a quick glance, it looks like the relevant area is https://github.com/twitter/scrooge/blob/develop/scrooge-maven-plugin/src/main/java/com/twit

[2016-01-27 00:51] leoneuwald commented on #217
Hi @ryanoneill tks for help.

I'll submit a pull request. And, in your opinion the file output must be configured only in tag **outputDirectory** or we need other tag to hide the _word scrooge_ of file output? I prefer the first one alternative.

Tks.

[2016-01-28 04:00] ryanoneill commented on #217
I would tend towards creating a new tag that if not present defaults to 'scrooge', and so works as it does today by default. I don't recall best practices for pom files though. Is it good practice to have a tag with an empty value (which is what you would want in this case)?

@kevinoliver, @cacoco have any thoughts?

[2016-01-28 18:55] kevinoliver commented on #217
I don't know best practices for maven plugins, but I agree with the sentiments of keeping it work as it does today.

[2016-01-30 23:03] cacoco commented on #217
I agree that unfortunately we need to be able to maintain the current behavior. It should be fine to create another parameter (e.g., a boolean) which specifies if the default of "scrooge" should be used and can override to simply exclude it. My suggestion would be "includeOutputDirectoryNamespace" which by default would be "true" in this case and give you the current behavior. You could then set i

[2016-02-03 00:51] leoneuwald commented on #217
@cacoco @ryanoneill @kevincrane,

I'll submit a pull request with your suggestions in next week.

Thanks!

[2016-02-05 12:22] jamesbroadhead opened #218 "Inject comments from .thrift into generated source"
Often, thrift definitions have useful comments, which are not immediately visible if navigating from code to generated source.

It could be helpful if scrooge generated javadoc-style comments from comments in thrift definitions and injected them into the generated source to help in cases like this.

[2016-02-05 18:40] mosesn commented on #218
@jamesbroadhead I think we do, actually.  See: https://github.com/twitter/scrooge/blob/develop/scrooge-generator/src/test/resources/gold_file_output_scala/com/twitter/scrooge/test/gold/thriftscala/GoldService.scala#L32-L36  (this is true across all of the kinds of code we generate, as far as I know).

[2016-02-06 01:40] kevinoliver commented on #218
@mosesn My guess is that there are places where we miss injecting them.

@jamesbroadhead It'd be great if you could enumerate those places where it would help.

[2016-02-17 20:04] sundargates commented on #212
`resolvers += Resolver.url(
  "bintray-csl-sbt-plugins",
  url("https://dl.bintray.com/twittercsl/sbt-plugins"))(
  Resolver.ivyStylePatterns)`

- Adding the above to build.sbt resovles scrooge-sbt-plugin successfully

[2016-02-24 20:08] babyman opened #219 "Non-case class ServiceIface generated when using scala 2.11 if service contains more than 22 functions"
Preface: I am new to thrift so this could easily be my mistake, if it is any help would be much appreciated =)

However it seems that when generating services with more than 22 functions the template suppresses the "case" statement for the generated ServiceIface class even when the SBT project declares its Scala version as 2.11.x.  This is causing issues when I try to enhance the functions with fi

[2016-02-25 16:55] olix0r opened #220 "Cannot build doc-jars with -Xfatal-warnings"
We build our projects with the `-Xfatal-warnings` scalac option to enforce good hygiene.  Scrooge-generated enum types cause compilation failures, do to a scaldoc error:

[code]

The failing generated comment is:

[code]

I'm not exactly sure what the proper solution, but in the worst case it seems preferable to omit the @throws clause if it cannot build without warnings.

[2016-02-25 17:48] olix0r commented on #220
btw, I'm happy to submit a PR that just removes the @throws docstring; though I'm curious if there's a better way to do this.

[2016-02-25 19:58] travisbrown commented on #220
The class name should be fully qualified, since `java.util` isn't in scope in Scala by default, but even then I don't think this is going to work, since Scaladoc doesn't know how to link to the Java standard library's docs.

In general linking to Javadocs is hugely annoying. I've used [these answers](http://stackoverflow.com/q/16934488/334519) before, but I really wish someone would package all th

[2016-03-03 02:33] leadVisionary commented on #199
A JAR file is a Java Archive File.
Apache .thrift files are by definition an Interface Definition Language, which is platform independent.

Packaging thrift files in JARs doesn't make sense. Should Scrooge support Zip? GZip? RAR?

The only things that should be published as a JAR are the compiled Java/Scala/JVM-lang classes that the compiler generates.

[2016-03-03 04:49] jedesah commented on #199
@jstultz Issues arise from attempting to create "fat jars" where multiple versions of the same class exist in the classpath. Surprisingly, HotSpot is fine with it, the problem only arises (or arose at some point in the past, thankfully I don't have to work with thrift anymore these days) when using a tool such as `onejar` to create a "fat jar". I think it's totally reasonable to have both options

[2016-03-03 17:51] mosesn commented on #199
It seems annoying to me to have to pack the scrooge generator and do generation at startup, but if that style works well for you, more power to you!  Would you like to make a PR?

[2016-03-03 21:04] jstultz commented on #199
@leadVisionary : as @jedesah pointed out, there is plenty of precedent for resources other than compiled JVM bytecode being packaged into JARs; configuration files and various other resources. WebJars is an example of a use of JARs that do not contain any JVM byte code at all. Whether or not the files themselves contain compiled Java classes, they're still used in a Java environment which is built

[2016-03-03 22:22] mosesn commented on #199
@jstultz so when you run in production you run it with sbt?

[2016-03-03 22:58] leadVisionary commented on #199
I'm fully aware that resources can be packages in JARs, thank you for the education. Precedent is not the same as original design intent. If you find yourself making hacks on hacks on hacks on hacks, you should probably take a step back and ask yourself about the design of your system.

Do you include .java files in your JARs? Generally, not on your binary distributions. You don't do so because yo

[2016-03-03 23:38] jstultz commented on #199
@mosesn oh, no, definitely not. I'll give a simplified example.

Suppose we have two finagle services serving thrift interfaces, `foo` and `bar`, where `bar` is a client of `foo`. Each has it's own git repository and associated SBT configuration, within which there are two projects, `foo-interface`, `foo-server` (same for `bar`).

`foo-interface` contains only thrift definition. The published arti

[2016-03-04 07:29] mosesn commented on #199
Seems reasonable to me.  I'd definitely look at a PR!

[2016-03-11 15:35] 0xABAB opened #222 "Build is failing icon"
You use some CI tool which shows that the build is failing. Either remove the icon or fix the problem.

[2016-03-11 16:04] 0xABAB opened #223 "Automatically generate your documentation"
In the README.md file you have the following text:

[code]

This does *not* work and using it as instructions is just amateur hour.

Note, that I am not requesting for some guy to just update it and put in place a temporary hack. I am also not interested in a version which would currently work (e.g. in a comment).

[2016-03-11 18:27] mosesn commented on #223
@0xABAB Hey!  Welcome to the scrooge project, and thanks for filing an issue.  We do update the versions, but only in our published documentation, in the user guide, which has better tools for keeping the version current than in the README.  Would you like to delete that part of the README quickstart and make a PR?

[2016-03-11 18:29] mosesn commented on #222
@0xABAB welcome to the scrooge community!  Good catch, would you like your first contribution to be helping us understand why it failed and fixing it?  Looking around at the logs, it looks like sbt can't find the main method anymore.  I think this would be a great way for you to join the community 😻

[2016-03-12 01:19] kevinoliver commented on #220
i don't think the scaladoc is buying us too much. i _think_ scala relies on `@throws` annotations for java devs, but i'm not sure tbh.

[2016-03-12 16:55] mosesn commented on #220
:+1: to removing the `@throws` docstring.

[2016-03-12 18:53] 0xABAB commented on #222
Uhm, if your software falls apart, you just have to hire more people, not beg for other people to fix your issues.

I am more than capable of fixing any software issue, but that doesn't mean I have a high interest in fixing your software.

I think it's a rather pathetic statement for a company like Twitter. It makes Twitter look weak. I wouldn't want to be associated with beggars.

[2016-03-12 19:05] mosesn commented on #222
Hi @0xABAB, Twitter is a microblogging website, and open sources its tools because it wants to give back to the community.  We don't work for you, and we have limited bandwidth.  Demanding that we do something, or being rude will not help either of us.  While you're participating in the twitter open source community, please follow the Twitter [code of conduct][0].

[0]: https://engineering.twitter

[2016-03-12 20:24] yschimke commented on #222
@0xABAB I'm with you, some of us have lower tolerance for such shoddy work.  I can't unsee this now you pointed it out!

I installed the Stylebot chrome after you pointed out this problem, and the following script will hide this icon.  I realise you could have done this yourself, but we should share our small victories.

[code]

I hope this helps, maybe @mosesn could agree at least update this thr

[2016-03-13 07:42] 0xABAB commented on #222
Man, you are killing me. That's just hilarious. Twitter has a self-interest in getting more people to work with their code and tools; that is why it is open-sourced. Not because Twitter believes in some culture of sharing (it would have been a foundation, not a company in that case). It would be "giving back", if no contribution from the community had ever been done, because it was already perfect

[2016-03-14 04:05] kevinoliver commented on #219
@babyman sorry for the delay in getting to this. I don't fully understand the issue you are seeing. Do you think the issue is in [here](https://github.com/twitter/scrooge/blob/develop/scrooge-generator/src/main/scala/com/twitter/scrooge/backend/ServiceTemplate.scala#L267-L277)?

[2016-03-15 03:04] babyman commented on #219
@kevinoliver I think the issue manifests itself there though I'm not quite sure how, on my system (with this project https://github.com/babyman/thrift_test and my main project) this block returns true if I define more than 22 methods in the remote service even though I'm sure I'm using Scala 2.11.x:

[code]

If less than 22 methods are defined the expected case class is generated.

[code]

I wonde

[2016-03-15 21:48] kevinoliver commented on #219
Looks pretty odd. Dunno what's going on there though.

[2016-03-16 07:06] mosesn commented on #219
Could it be checking the scala version of sbt, rather than what it's trying to build?

[2016-03-16 12:48] babyman commented on #219
@mosesn that would make sense, I don't see any way to pass the target build Scala version into the code generator (but I haven't had time to really search), I do have Scala on my system path but that is also 2.11.7:

[code]

I use this script to launch SBT for the project:

[code]

[2016-03-16 16:22] mosesn commented on #219
I don't think we can change sbt's scala version, it's probably best if we pass the scala version as a parameter to the generator.  http://stackoverflow.com/questions/26493088/how-can-one-pass-the-scala-version-string-to-a-code-generator-for-sbt looks like exactly what we're looking for.

[2016-03-18 21:33] aragnon opened #228 "How to build the plugin?"
How can I build the scrooge sbt plugin?

[2016-03-19 00:50] mosesn commented on #223
I've fixed this, and the fix has been merged internally.

[2016-03-19 00:50] #223 closed

[2016-03-25 22:34] fzakaria opened #229 "Scrooge maven plugin is overly restrictive"
I believe the maven plugin for scrooge is too restrictive, especially for cases where not *all* thrift model dependencies have the `idl` classifier

Here is the relevant code from `AbstractMavenScroogeMojo`

[code]

Specifically consider the use-case where someone has a Maven artfiact `ThriftDemoModel` with the classifier `idl`.
This artifact depends on `finatra-thrift_2.11` accordingly so that it

[2016-03-30 14:05] vvviiimmm opened #231 "Returned ByteBuffer contains encoded data"
Given .thrift file
[code]
And implementation:
[code]
Usage:
[code]
Expected `byteBuffer` to contain `[1,2,3]` but actually it contains 26 values, including name of the function `foo` and wrapped payload `[1,2,3]` at position 22.
By looking at sources it looks like decoding should be done implicitly using TBinaryProtocol. Should I somehow specify the protocol or should I extract the payload manuall

[2016-03-30 15:52] mosesn commented on #231
@vvviiimmm smells like a bug.  It should work the way you expect it to.  Does it only behave this way for Binary?  What does it do for String?

[2016-03-30 17:31] fkorotkov commented on #160
@pavanch007, have you made any progress? Just curious :-)

[2016-04-01 02:24] pavanch007 commented on #160
@fkorotkov Sorry for not circling back. This got de-prioritized and I'm not actively working on this.

[2016-04-11 21:46] jcoveney opened #232 "Having trouble compiling thrifts which form a DAG"
https://gist.github.com/jcoveney/e36c63f21392ccb9de0b738b44b4b57b

Basically, I have A struct and B struct, and want A to depend on B. Seems really weird that this isn't working, so clearly I'm doing something wrong. I've tried the command line and the sbt plugin

[2016-04-11 22:11] klingerf commented on #232
I'm pretty sure that the ordering of the struct definitions in the file matters.  If AStruct contains a field that references BStruct, then BStruct has to be defined before AStruct.  So this should work:

[code]

[2016-04-11 23:28] johnynek commented on #232
@klingerf these are in two different files with an import.

[2016-04-11 23:29] klingerf commented on #232
@johnynek Ah, right -- sorry, read the gist too quickly.

[2016-04-11 23:42] kevinoliver commented on #232
@jcoveney as far as i know this is supported. not sure why its not working for you though as i haven't done much importing on either the dev or usage side.

did you see the example thrift files under [relative](https://github.com/twitter/scrooge/tree/develop/scrooge-generator-tests/src/test/thrift/relative)?

oh, hmm. do you need to refer to it as `BStruct.BStruct`?

[2016-04-12 15:54] jcoveney commented on #232
annnnnd that is the fix. thanks so much, everyone! <3

[2016-04-12 15:54] #232 closed

[2016-04-12 15:57] jcoveney commented on #232
[![selfie-0](http://i.imgur.com/6hyKfK6.png)](https://github.com/thieman/github-selfies/)

[2016-04-29 13:50] philwills opened #233 "SBT plugin claims all generated sources were it's doing"
https://github.com/twitter/scrooge/blob/develop/scrooge-sbt-plugin/src/main/scala/com/twitter/ScroogeSBT.scala#L243 claims that the Scrooge SBT plugin has generated all classes with the appropriate extension in the managed sources directory. This assumption falls down, causing compilation failures, if a project is also using another plugin, such as sbt-buildinfo (https://github.com/sbt/sbt-buildin

[2016-05-03 14:10] benjumanji commented on #233
yeah, a better default for `scroogeThriftOutputFolder` would probably be the ticket.

[2016-05-06 17:49] joprice commented on #233
I just hit this same issue. Found the suggested solution here: https://github.com/guardian/content-api-scala-client/blob/452f2a359c15b75a4baf1871b018ebe130895f88/build.sbt#L94. Any reason to not update this? If it has to stay the same for compat, seems like it should at least be in the docs.

[2016-05-06 20:10] kevinoliver commented on #233
i personally don't have strong feelings regarding backwards compatibility if there is consensus about a better default. we'd need to document the break in `CHANGES`. please feel free to open a PR to get this started. that's where we can hear about reasons to keep compatibility.

[2016-05-12 03:28] lelence opened #235 "since method originalName in trait ThriftEnum of type => String is not defined"
i use :
twitter-server 1.20.0
finagle-thrift 6.35.0
scrooge-core  4.7.0
libthrift 0.9.3

if i add an Enum to the thrift, there while be an exception :

class EnumUnknownRecordStatus needs to be abstract, since method originalName in trait ThriftEnum of type => String is not defined
[error]   case class EnumUnknownRecordStatus(value: Int) extends test.thrift.RecordStatus {
[error]              ^
[e

[2016-05-12 16:33] kevinoliver commented on #235
what does your generated code for `EnumUnknownRecordStatus` look like? it sounds like you may have a mismatch between the versions of scrooge-code and the generator.

The `originalName` code was partially added in 74a6e432af6119 and then the rest was added in 6d26414101f35a. This was all part of the 4.7.0 release.

[2016-05-13 01:40] lelence commented on #235
i set the scrooge-generator verion 4.6.0, there is also has the exception

[error] /Users/Toan/git/scala-parent/thrift-rpc-server/target/scala-2.11/src_managed/main/test/thrift/RecordStatus.scala:23: class EnumUnknownRecordStatus needs to be abstract, since method originalName in trait ThriftEnum of type => String is not defined
[error]   case class EnumUnknownRecordStatus(value: Int) extends test

[2016-05-18 15:32] mosesn opened #236 "2.12-ification"
In order to support 2.12, we need to add crossScalaVersions to Build.scala, and make sure everything compiles.  Not every scala library will be built against the current snapshot, so we may have to support different versions from 2.11 to 2.12.  If part of an API has churned (scalacheck in particular is susceptible to this) we may need to upgrade the 2.11 library version to make progress.  If that

[2016-05-20 18:57] tsfto commented on #235
In my case, this was caused by failing to update the Scrooge sbt plugin to match the latest version. Using:

addSbtPlugin("com.twitter" %% "scrooge-sbt-plugin" % "4.7.0")

resolved the scrooge-generator mismatch.

[2016-05-20 23:27] taylorleese commented on #236
Related: https://github.com/twitter/util/issues/162

[2016-05-23 05:18] mosesn commented on #236
We will need to make sure that mustache scala-extensions-2.11 works against scala 2.12.  We also need to upgrade to mustache 0.9.x (OK now that we're on jdk 8).

[2016-05-23 06:57] nollbit commented on #188
The issue is probably that `ScroogeSBT.newSettings` still remains in both projects having issues [1] [2]. It should have been removed as part of the upgrade (as noted in https://twitter.github.io/scrooge/SBTPlugin.html#migrating-from-3-x-x-to-3-18-0).

I had a similar issue.

[1] https://github.com/CommBank/uniform/pull/53/files#diff-be2798888ff60368d72f590dd2492755L22
[2] https://github.com/reikj

[2016-05-29 17:31] mosesn commented on #12
We don't have the bandwidth internally, but would be happy to look at a PR.

[2016-05-29 17:36] mosesn commented on #8
Looks like this works now.  Test here: https://github.com/twitter/scrooge/blob/develop/scrooge-generator-tests/src/test/thrift/scala/inheritance/ddd.thrift

[2016-05-29 17:36] #8 closed

[2016-05-29 17:37] mosesn commented on #13
Looks like this was improved here: https://github.com/twitter/scrooge/commit/e9d2508703e22e5d4890af2ec216da71139afa93

[2016-05-29 17:37] #13 closed

[2016-05-29 17:39] mosesn commented on #44
I think this works now.  This test seems to show it working: https://github.com/twitter/scrooge/blob/develop/scrooge-generator-tests/src/test/thrift/scala/inheritance/ddd.thrift

[2016-05-29 17:41] mosesn commented on #54
Indeed, we should just remove it.

[2016-05-29 17:44] mosesn commented on #66
I'm going to close this since folks haven't run into this issue recently, but if you find a new keyword we should escape, holler!

[2016-05-29 17:44] #66 closed

[2016-05-29 17:46] mosesn commented on #76
This file no longer exists, so I think we're good.  It was changed to https://github.com/twitter/scrooge/blob/develop/bin/run which I don't think has the same problem.

[2016-05-29 17:46] #76 closed

[2016-05-29 17:49] mosesn commented on #77
We're probably not going to add this feature, so I'm going to close this issue.  Most of the data structures are immutable under the hood, although it will be a larger effort to change the types to be immutable too.

[2016-05-29 17:49] #77 closed

[2016-05-29 17:52] mosesn commented on #85
We would like to update to a modern thrift version, but it's going to be a larger effort internally.

[2016-05-29 17:53] mosesn commented on #90
I'm not sure that we're going to support this feature, so I'm going to close this issue for now.  If you become interested in working on this yourself, please reopen the issue and we can discuss it!

[2016-05-29 17:53] #90 closed

[2016-05-29 17:54] mosesn commented on #93
Unfortunately, I have no idea what sbt-bower is.

[2016-05-29 17:54] #93 closed

[2016-05-29 17:57] mosesn commented on #96
We now support unions: https://github.com/twitter/scrooge/blob/develop/scrooge-generator-tests/src/test/thrift/standalone/union.thrift

[2016-05-29 17:57] #96 closed

[2016-05-29 17:59] mosesn commented on #97
We no longer mention the version or scala version on github, and http://twitter.github.io/scrooge/ is updated.

[2016-05-29 17:59] #97 closed

[2016-05-29 18:00] mosesn commented on #100
@arboreal84 I think we fixed this here: https://github.com/twitter/scrooge/commit/e9d2508703e22e5d4890af2ec216da71139afa93

[2016-05-29 18:00] #100 closed

[2016-05-29 18:01] mosesn commented on #121
We have since fixed this.

[2016-05-29 18:01] #121 closed

[2016-05-29 18:01] #128 closed

[2016-05-29 18:02] mosesn commented on #129
scrooge supports 2.11 successfully now!

[2016-05-29 18:02] #129 closed

[2016-05-29 18:03] mosesn commented on #132
Looks like a bug!

[2016-05-29 18:04] mosesn commented on #136
We have since updated it, thanks!

[2016-05-29 18:04] #136 closed

[2016-05-29 18:05] mosesn commented on #151
We screwed up and got the wrong attribution data =(, but this was fixed by @jedesah here: 1ab8b66

[2016-05-29 18:06] mosesn commented on #168
experimental java was pretty broken and nobody used it so we deleted it.  we might revisit it in the future.

[2016-05-29 18:06] #168 closed

[2016-05-29 18:08] #151 closed

[2016-05-29 18:08] mosesn commented on #160
This issue is related to https://github.com/twitter/scrooge/issues/85

[2016-05-29 18:09] mosesn commented on #165
We deleted experimental-java because it mostly did not work.

[2016-05-29 18:09] #165 closed

[2016-05-29 18:10] #166 closed

[2016-05-29 18:12] mosesn commented on #170
@jedesah this is over a year old, so I have no idea if you're still using scrooge.  For what it's worth, I think adding a dependency on shapeless would be a hard sell.  Do you know if there's another way we could solve this problem?

[2016-05-29 18:12] mosesn commented on #172
We added 2.11 support properly!

[2016-05-29 18:12] #172 closed

[2016-05-29 18:14] mosesn commented on #174
We can do this now!  See here in this test: https://github.com/twitter/scrooge/blob/develop/scrooge-generator-tests/src/test/thrift/standalone/naughty.thrift#L16

[2016-05-29 18:14] #174 closed

[2016-05-29 18:15] mosesn commented on #171
No idea why this is, maybe historical reasons?  I'd be happy to see a PR fixing this.

[2016-05-29 18:16] mosesn commented on #186
We have support for 2.11 now!

[2016-05-29 18:16] #186 closed

[2016-05-29 18:17] mosesn commented on #188
I think @nollbit's solution is right, so I'm going to marked this as fixed.  Thanks @nollbit!

[2016-05-29 18:17] #188 closed

[2016-05-29 18:17] #190 closed

[2016-05-29 18:18] mosesn commented on #191
I'd be happy to help someone tackle either of 1 or 2.

[2016-05-29 18:20] mosesn commented on #209
This was fixed here: https://github.com/twitter/scrooge/pull/210.  Thanks @matthandlersux !

[2016-05-29 18:20] #209 closed

[2016-05-29 18:20] mosesn commented on #212
Thanks @sundargates !

[2016-05-29 18:20] #212 closed

[2016-05-29 18:21] mosesn commented on #216
I'm going to close this ticket, since I think it works as expected.

[2016-05-29 18:21] #216 closed

[2016-05-29 18:22] mosesn commented on #217
@leoneuwald do you think you'll still have a chance to tackle this?

[2016-05-29 18:24] mosesn commented on #219
We no longer support 2.10, so we should just switch to generating 2.11-style all the time.

[2016-05-29 18:24] mosesn commented on #222
The build passes, so I'm going to mark this as fixed.

[2016-05-29 18:25] mosesn commented on #228
You should be able to get the jar from bintray, but if that doesn't work, there are instructions for how to build in the CONTRIBUTING file.

[2016-05-29 18:25] #228 closed

[2016-05-29 18:31] mosesn commented on #233
I think this change would be an improvement.

[2016-05-29 18:33] mosesn commented on #235
@lelence please let us know what happens when you make sure to align your scrooge-generator and scrooge-core!  You might need to change your plugin version if you use the scrooge-sbt-plugin or scrooge-maven-plugin.  I'm going to close for now, since @tsfto mentioned this fix works for him.

[2016-05-29 18:33] #235 closed

[2016-05-29 18:39] mosesn commented on #233
JK looks like it's already in progress here: https://github.com/twitter/scrooge/pull/234!

[2016-05-29 19:16] hbs commented on #44
The name of the file in the test you referred does not contain dots except for the one before the extension, so I'm not sure it fixes this issue.

[2016-05-29 19:57] csaltos commented on #186
Great !!

[2016-05-29 20:01] mosesn commented on #44
Hmm, I thought the issue before was that scrooge didn't handle imports correctly.  I'll try this out locally.

[2016-05-29 20:29] mosesn commented on #44
Yep, you're right, it still doesn't work.  Doesn't seem like it'll be too much trouble to implement though, we'll only need to wrap all filenames / fully qualified names in backticks.

[2016-05-29 23:21] jeffreyolchovy commented on #236
I'll take care of this one as well. See https://github.com/twitter/scrooge/pull/237 for current status.

[2016-05-30 22:56] jedesah commented on #170
@mosesn I am not sure there is another way of solving this problem asides from making the scala code that represents structs more "case class like". I no longer work at Whitepages. Pinging @pkohan so that he can attest as to whether or not Whitepages cares to make such a change.

[2016-06-01 02:12] triggerNZ commented on #170
https://github.com/travisbrown/scrooge-circe-demo/blob/master/src/main/scala/demo/package.scala provides generic instances for scrooge-generated thrifts

[2016-06-01 06:00] taylorleese commented on #222
It's actually failing again. https://travis-ci.org/twitter/scrooge/builds

[2016-06-27 20:02] kuroneko25 commented on #218
We are seeing a similar problem where comments in thrift definitions are not included in the generated java source code.

We are using the scrooge maven plugin:
`
          <groupId>com.twitter</groupId>
          <artifactId>scrooge-maven-plugin</artifactId>
          <version>3.14.1</version>
          <configuration>
            <thriftSourceRoot>${basedir}/../thrift</thriftSourceRoot>

[2016-06-27 20:52] mosesn commented on #218
@kuroneko25 I don't think we support javadoc-style (two stars at the beginning), I think we only support c-style (one star at the beginning).  Can you try again like so:

[code]

It's definitely weird that the one inside the struct doesn't work.  We should look into that.

[2016-06-27 22:48] kevinoliver commented on #218
Moses, I think its only Doc-comment style (/** */) that is converted.

But it looks like we don't do this for the generated Java code. Note that
GoldService.java
<https://github.com/twitter/scrooge/blob/develop/scrooge-generator-tests/src/test/resources/gold_file_output_java/com/twitter/scrooge/test/gold/thriftjava/GoldService.java>
does
not have the "Hello, I'm a comment" comment that the Scala o

[2016-06-27 23:30] mosesn commented on #218
Whoops, my bad!  I think in mainstream thrift, they only do /* */, we should look into supporting that too.

[2016-07-14 16:32] DylanLukes opened #238 "Compile fails with ambiguous overload when -Xexperimental is set."
When the `-Xexperimental` flag is set, Scrooge's generated sources fail to compile due to an ambiguous overload in `Filter::andThen` introduced (presumably) by the Single-Abstract-Method (SAM) sugar.

### Expected behavior

The sources should compile.

### Actual behavior

The following sections in the generated code fail to compile with the error messages below:

[code]

[code]

### Steps to repr

[2016-07-14 16:34] DylanLukes commented on #238
Here's a gist containing a full example of this issue:

https://gist.github.com/DylanLukes/eb775e0818c93cb1dc6e56d46f321d31

[2016-07-25 17:29] mosesn commented on #238
@DylanLukes hey, thanks for filing the issue! We're going to try to reproduce on our end and get back to you.  Thanks for the complete reproduction, makes our lives a lot easier.

[2016-07-25 18:14] DylanLukes commented on #238
My pleasure! Hope you're able to reproduce it easily. I'm on scala 2.11.8, also. The experimental features I'm using I believe were introduced in 2.11.x.

[2016-07-25 23:29] mosesn commented on #238
@DylanLukes OK, so I'm getting the same behavior locally.  I wonder if this is a bug in the scala compiler though, because it looks like the problem we're running into is that `Filter#andThen` can take either Functions or Services, but Service is already a Function.  Let's see if we can scare up some scala compiler people.

[2016-07-25 23:30] mosesn commented on #238
For folks following along, here is the line where Service is-a Function–https://github.com/twitter/finagle/blob/develop/finagle-core/src/main/scala/com/twitter/finagle/Service.scala#L55

[2016-07-25 23:35] mosesn commented on #238
Filed a ticket: https://issues.scala-lang.org/browse/SI-9871 so we'll see what they say.

For folks trying to repro, the command I ran in the environment that @DylanLukes describes was sbt `compile`

[2016-07-26 01:20] DylanLukes commented on #238
I'm pretty sure this has to do with the SAM sugar, which allows implicit
conversion from functions to single-abstract-method classes like Runnable.
I believe this implicit conversion is what introduces the ambiguity error.

It only happens with the -Xexperimental flag on.

I solved the problem by isolating my thrift definitions in their own
subproject that did not have that flag.

On Mon, Jul 25,

[2016-07-26 04:43] mosesn commented on #238
Good call, it sounds like it's related to https://github.com/scala/scala-dev/issues/157–there's a bug with overloading and SAMs.  Your work around sounds like a good one.  I'm going to close this ticket for now, but if there's something more for us to do, please reopen it.

[2016-07-26 04:43] #238 closed

[2016-07-26 04:46] mosesn commented on #236
Almost everything here has been tackled by https://github.com/twitter/scrooge/pull/237.  scrooge-generator-tests is still waiting on finagle.  Thanks @jeffreyolchovy!

[2016-07-26 16:43] chessman opened #239 "sbt-scrooge-plugin doesn't include generated sources in packageSrc"
sbt-scrooge-plugin doesn't include generated sources in packageSrc.

### Expected behavior

sbt-scrooge-plugin includes generated sources from `scroogeThriftOutputFolder` in sources jar.

### Actual behavior

sbt-scrooge-plugin generates empty sources jar.

### Steps to reproduce the behavior

build.sbt
[code]

project/plugins.sbt
[code]

src/main/thrift/test.thrift
[code]

1. sbt compile
2. sbt p

[2016-07-26 17:02] mosesn commented on #239
@chessman hmm, this is really interesting.  thanks for the bug report!  Is this something we can change in the scrooge sbt plugin, or do you have to do it on your side?

It looks like there's an explanation [here][0].

so it looks like we would do something like:

[code]

but would it work if we added it to [projectSettings][1]?

If it turns out we can fix it in scrooge, would you be interested in

[2016-07-26 18:21] chessman commented on #239
Ok, I will try to figure out and do a PR.

[2016-08-03 23:19] drocsid opened #242 "com.twitter#scrooge-sbt-plugin;4.5.0: not found"
created the same plugins.sbt and build.sbt as shown in the docs: https://twitter.github.io/scrooge/SBTPlugin.html . When I sbt ; compile I get com.twitter#scrooge-sbt-plugin;4.5.0: not found (scalaVersion=2.10, sbtVersion=0.13)

### Expected behavior

follow the docs, get deps, compile code

### Actual behavior

com.twitter#scrooge-sbt-plugin;4.5.0: not found

### Steps to reproduce the behavior

[2016-08-03 23:51] drocsid commented on #242
I tried adding bintray as a resolver to plugins.sbt:

resolvers += "twitter-repo" at "https://maven.twttr.com"
resolvers += "scrooge-sbt-plugin" at "https://bintray.com"

addSbtPlugin("com.twitter" % "scrooge-sbt-plugin" % "4.8.0")

But I see:

[info] Resolving com.twitter#scrooge-sbt-plugin;4.8.0 ...
[error] SERVER ERROR: Internal Server Error url=https://bintray.com/com/twitter/scrooge-sbt-plugi

[2016-08-03 23:58] mosesn commented on #242
I think bintray is where sbt expects you to put your plugins, so it's probably one of the defaults.  I tried following the quickstart, and I can't reproduce your problem.  This might not be a scrooge problem.  Would love to see what you find!

[2016-08-04 00:15] drocsid commented on #242
I tried first setting sbt.version= 0.13.11 and then sbt.version= 0.13.12 in build.properties, and either way I still get sbt.ResolveException: unresolved dependency: com.twitter#scrooge-sbt-plugin;4.8.0: not found

[2016-08-04 00:23] drocsid commented on #242
looks like it was due to a path issue, closing.

[2016-08-04 00:23] #242 closed

[2016-08-05 07:14] mosesn commented on #239
@chessman fixed this here: https://github.com/twitter/scrooge/commit/572609efc41575590a8790b13241b374f26e9c9e 😎

[2016-08-05 07:15] #239 closed

[2016-08-16 13:56] nollbit opened #243 "Self-references leads to error"
Self-references leads to error

### Expected behavior

Self-referencing structs should be supported

### Actual behavior

Self-referencing structs leads to `TypeNotFoundException`

### Steps to reproduce the behavior

[code]
This is supported by later Thrift compilers. I'm not sure this is a bug in Scrooge since afaik it has never promised to be fully Thrift compatible.

[2016-08-16 16:06] kevinoliver commented on #243
Yeah, this is not supported today. This is the same as issue https://github.com/twitter/scrooge/issues/160 which has more commentary.

[2016-09-15 20:58] PapaCharlie commented on #231
Sadly, that's not a bug. I just ran into this problem as well. If you look at `byteBuffer`, specifically at its `.position` and `.limit` methods, they'll point to the slice that contains `[1, 2, 3]`. It looks like using the `binary` type can have slightly unexpected behavior. I would recommend using the `.as[Array[Byte]]` conversion from the Bijections package. It handles turning it into the array

[2016-09-15 22:08] mosesn commented on #231
Oh, I see.  Yeah, the `ByteBuffer` class needs special care–looking at the underlying array may not give you what you want.  Thanks for updating the ticket @PapaCharlie, I'm going to close it ✨

[2016-09-15 22:08] #231 closed

[2016-09-16 02:22] PapaCharlie commented on #231
It does seem a little scary that calling `.array` on a `ByteBuffer` before and after serialization+deserialization returns something different though. A rather easy mistake to make if you aren't familiar with how `ByteBuffer`s work.

[2016-09-26 20:03] #243 closed

[2016-09-27 17:36] taylorleese commented on #160
I believe this was closed in error so reopening.

[2016-10-01 22:57] leoneuwald commented on #217
@mosesn I created the pull resquest #245

[2016-10-03 20:20] mosesn commented on #222
The build has been passing pretty consistently: https://travis-ci.org/twitter/scrooge/builds

[2016-10-03 20:20] #222 closed

[2016-10-05 20:46] elreimundo opened #246 "Generator is leading to compiler warnings"
Generated code leads to
[warn] Procedure syntax is deprecated. Convert procedure `addFunction` to method by adding `: Unit =`.
[warn]   protected def addFunction(name: String, f: (TProtocol, Int) => Future[Array[Byte]]) {
[warn]                                                                                       ^

### Expected behavior

No compiler warnings

### Actual behavior

See above

### S

[2016-10-10 20:01] #246 closed

[2016-10-28 21:17] adriaanm commented on #238
I believe this was fixed by https://github.com/scala/scala/pull/5307, which will be released as part of 2.12.0 final on Monday (already in RC1 and RC2).

[2016-10-29 04:55] mosesn commented on #238
@adriaanm we're blocked on 2.12.0 because scalatest is not releasing 2.12.x releases for scalatest 2.x anymore.  We're trying to migrate Twitter to scalatest 3.x, but it's going to take us a long time.  Sorry!

[2016-11-13 20:58] jstultz commented on #171
It took me a while to get around to it, but here's a stab at it:

https://github.com/twitter/scrooge/pull/248

[2016-11-29 22:24] alexkuang opened #250 "passthroughFields causes error when writing parquet with new field"
Using scrooge-core 4.7.0 and parquet-scrooge 1.8.1, I ran into `org.apache.parquet.io.ParquetEncodingException: field 4 was not found in [...]` when updating a thrift schema with a new optional field.  Simplified example case:

- I have 2 systems, Publisher and Logger.  Publisher publishes records to a stream using a thrift schema T, and Logger reads the objects from the stream and writes them to

[2016-11-30 17:56] kevinoliver commented on #250
Can you use `Struct.withoutPassthroughFields(original)` to create a copy of the struct without the pass throughs?

For example: https://github.com/twitter/scrooge/blob/develop/scrooge-generator-tests/src/test/resources/gold_file_output_scala/com/twitter/scrooge/test/gold/thriftscala/Request.scala#L116

[2016-12-01 17:43] allquantor opened #251 "Getting weird error during decoding of a thrift class."
A get a weird error by encoding the thrift class
[code]
Basically, it happens during the deserialization. I do use scala 2.11.8, Scrooge version: 4.12.0.
Any idea?

[2016-12-01 17:48] mosesn commented on #251
@allquantor make sure both client and server are using the same thrift protocol, and the same framing mechanism.  one thing that might be going on is that there's a mismatch in how the client and the server describe the bytes of the wire.

I'd encourage you to tcpdump the message and see if something funky is going on by just looking at the bytes directly.

[2016-12-02 20:50] alexkuang commented on #250
Yes that is the solution I am using right now, but I was hoping there would be a nicer way to handle it.  `withoutPassthroughFields` is defined separately for each generated `Struct`, so for generic serde code I currently need to bolt it on via an additional implicit for every datatype I handle.

This behavior also seems like a gotcha to me, have there been similar interop issues with other format

[2016-12-03 00:24] kevinoliver commented on #250
Perhaps we could add it as a method on each generated struct so that its generic? I'm open to ideas there.

As for the motivations — Its very powerful to preserve fields that a service doesn't know about. For example, it allows for schema evolution without having "middle-boxes" have to know about the IDL changes.

[2016-12-05 17:02] alexkuang commented on #250
I agree that would be super useful.  It would let other libraries like parquet-scrooge work with that method to eliminate this gotcha.

As far as I can tell, the passthrough field is basically an `Array[Byte]`.  For the consumer of a DTO with a new unknown field, I can think of directly logging / writing the blob of Bytes, but are there any more sophisticated use cases for the data?

[2016-12-11 15:51] sritchie commented on #236
Hey @mosesn, what's the status here? @johnynek and I are churning through the Summingbird dependencies; util looks like it's upgraded, but we're still waiting on Scrooge and Finagle. Do you have an ETA for a 2.12 build here?

Thanks!

[2016-12-11 17:02] mosesn commented on #236
@sritchie scrooge is already on 2.12, so you shouldn't be blocked here.  the only thing that's not is the tests.  http://search.maven.org/#search%7Cga%7C1%7Cscrooge-core_2.12

2.12 introduced a backwards incompatible change that was a blocker for a while: https://github.com/twitter/finagle/issues/505.  We had to break one of our public-facing APIs to make forward progress and it was painful.  Now

[2016-12-11 17:55] sritchie commented on #236
Okay, nice! I'll see if we can get on to 4.12. Sorry for not noticing that.

[2016-12-11 17:58] mosesn commented on #236
no worries–you probably need finagle too, so it might make sense to hold off for a little while.

[2016-12-12 09:01] QuantumBear opened #253 "Can not generate scala code with maven plugin"
I use scrooge plugin try to generate Scala case class for some thrift class

### Expected behavior

Source files in target/generated-sources/thrift are Scala source files.

### Actual behavior

Source files in target/generated-sources/thrift are Java source files.

### Steps to reproduce the behavior

I added this dependency to my pom file, because our project stick to libthrift to 0.61 so I exclu

[2016-12-12 15:33] allquantor commented on #251
@mosesn Thanks for your reply. Actually, I ensured that my projects all use the same versions.

Here the list of twitter stack related libraries used in my projects:
com.twitter:scrooge-core_2.11:jar:4.12.0
com.twitter:scrooge-maven-plugin:4.12.0
com.twitter:finagle-http_2.11:jar:6.40.0
com.twitter:libthrift:jar:0.5.0-7
com.twitter:finagle-thrift_2.11:jar:6.40.0

I also tried to look into the tcpd

[2016-12-12 18:50] kevinoliver commented on #253
@QuantumBear that looks right to me, but maybe there is a bug. We don't use the maven plugin here at Twitter so I don't have any good ideas. Maybe someone else out there is using the maven plugin and can advise.

[2016-12-13 08:57] QuantumBear commented on #253
It turned out that I use other plugin to compile thrift file in parent pom, disable it then scrooge plugin works.

[2016-12-13 08:57] #253 closed

[2016-12-13 09:17] QuantumBear opened #254 "Can not compile scrooge generated code"
I try to use scrooge to compile thrift files to Scala files, but get lots of compile errors even I use the code in demos/scrooge-maven-demo.

### Expected behavior

Build success with mvn clean install command.

### Actual behavior

Get lots of compile erros

Here is error log when I compile scrooge-maven-demo.

[ERROR] /home/sili/code/scrooge/demos/scrooge-maven-demo/target/generated-sources/thri

[2016-12-15 03:58] xieliang opened #255 "FileParseException if "//" style comment occurs in windows platform"
see https://issues.apache.org/jira/browse/DL-28

[ERROR] Exception parsing: E:\incubator-distributedlog\distributedlog-protocol\src\main\thrift\service.thrift: [3.1] failure: string matching regex `\z' expected but `/' found
[ERROR]
[ERROR] // Response stats codes
[ERROR]
[ERROR] ^
[ERROR] -> [Help 1]
com.twitter.scrooge.frontend.FileParseException: Exception parsing: E:\isoftstone\workspacedeis\i

[2016-12-15 17:10] kevinoliver commented on #255
@xieliang our team lacks a windows environment so it'll be hard for us to reproduce, let alone fix.

[2016-12-15 17:53] mosesn commented on #255
@xieliang do you mind taking a stab at fixing this?

[2016-12-21 10:01] knightpop opened #256 "Scrooge Generated Java Client throws java.lang.IncompatibleClassChangeError"
One line summary of the issue here.

### Expected behavior

I just want to call thrift service function

### Actual behavior

1. Thrift Server didn`t get request.

2. Throws exception
`java.lang.IncompatibleClassChangeError: Implementing class
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:763)
	at java.security.SecureClassLoader.define

[2016-12-21 13:34] jcrossley commented on #256
Hey @knightpop, we just published scrooge for 2.12; it now compiles with 2.12 by default. Have you tried compiling your code with 2.12, or specifying 2.11 manually?

[2016-12-21 18:33] mosesn commented on #236
@sritchie we just published finagle on 2.12, so you should be good to go.

[2016-12-21 18:40] mosesn commented on #236
We can resume work on this now that finagle-thrift has been published, so if anyone wants to tackle the scrooge-generator-tests, it should be pretty straightforward now!

[2016-12-22 03:16] knightpop commented on #256
@jcrossley Thanks for reply. I use
`addSbtPlugin("org.scoverage" % "sbt-scoverage" % "1.3.5")`

And give option to specific compile

`  scroogeThriftDependencies in Compile := Seq(
    "finatra-thrift_2.11"
  ),`

Not the newest version.

Do i have to use newest version?

Thanks for fast reply again. and Merry christmas!!

[2016-12-22 13:14] jcrossley commented on #256
Hey @knightpop, are you compiling *your* code with 2.12? The plugin and dependencies that you're using are for 2.11. Definitely seems like a mismatched version problem here, given the error. Have you cleaned your target directory?

[2016-12-23 13:09] allquantor commented on #251
Solved by myself. The solution was indeed interesting. I used finagle to send/receive Thrift objects. Well, if you send Octet-Streams you should use ByteStreams instead of CharStreams to encode your response and decode your payload. Chars (16 bits in Java) are encoded with two bytes, thus the losing of information. A change to handling the response as byte stream solved the issue.

If somebody hav

[2016-12-23 13:09] #251 closed

[2016-12-28 02:38] knightpop commented on #256
@jcrossley Sorry for reply late..TT

I`m using scala 2.11.8
also, I clean & also, delete all and clone again.
hm... at last... i decide to use only scala generator...

to sum up....
- enviroment : scala 2.11.8, scrooge-sbt-plugin 4.12.0, spring boot version 1.4.2.RELEASE, tomcat.version 8.0.39
- I want to use java client generated by scrooge in java server made with spring boot.
- error occur....

[2016-12-28 18:50] ryanoneill commented on #256
Hi @knightpop, the Java client generated by Scrooge should be good.

If you haven't already, I would recommend taking a look at the [java-thrift-server example](https://github.com/twitter/finatra/tree/develop/examples/java-thrift-server) in Finatra. It uses Scrooge to [generate Java code](https://github.com/twitter/finatra/blob/develop/examples/java-thrift-server/build.sbt.for_release_branches_onl

[2017-02-02 11:24] scf37 opened #257 "Passing Some(null) to service methods generates NPE"
Scrooge-generated code does not handle Some(null) for optional parameters and struct fields

### Expected behavior

Some(null) on server side

### Actual behavior
[code]

### Steps to reproduce the behavior
[code]

[code]

[2017-02-02 22:53] kevinoliver commented on #257
I believe the expectation is that you'll use `None` instead of `Some(null)`.

[2017-02-03 22:02] ryanoneill commented on #257
While `Some(null)` is valid Scala and there are [legitimate reasons](http://stackoverflow.com/questions/5796616/why-somenull-isnt-considered-none) for it in the language, I don't know that it makes sense for us to handle it differently than we do within the context of Scrooge.

[2017-02-06 19:30] kevinoliver commented on #236
This was addressed in https://github.com/twitter/scrooge/commit/a37f2af058c4feb068d9bba6b987aa7e1b9787e6 and scrooge is 2.12-ified.

[2017-02-06 19:30] #236 closed

[2017-02-06 19:33] kevinoliver commented on #219
I believe this was addressed with https://github.com/twitter/scrooge/commit/c391570cb30fc82a8b1189a5fdfd1928de89823c

[2017-02-06 19:33] #219 closed

[2017-02-06 19:35] kevinoliver commented on #171
This got merged in https://github.com/twitter/scrooge/commit/dc119779ede0e80153068fff02642c9e0afcb038

[2017-02-06 19:35] #171 closed

[2017-02-06 19:36] kevinoliver commented on #94
I believe this was for the experimental-java generated code which is no longer part of the project.

[2017-02-06 19:36] #94 closed

[2017-02-10 21:18] rklancer opened #259 "Scrooge does not appear to honor Apache Thrift's list of reserved words"
### Expected behavior

Apache Thrift defines a list of reserved words that apparently cannot be used as field identifiers: https://git-wip-us.apache.org/repos/asf?p=thrift.git;a=blob;f=compiler/cpp/src/thrift/thriftl.ll;hb=e1832c354391deb0e0ce94a62ff32e8ce1c83fd3#l273

Therefore, I expect Scrooge to fail to compile a .thrift file with a field named `delete`. Failing that I expect a clear warning t

[2017-02-10 21:20] rklancer commented on #259
Smells like this could be an intentional choice, of course. Let me know.

[2017-02-10 22:53] kevinoliver commented on #259
it'd be good if we matched apache thrift's behavior.

i suspect if we didn't give users an escape valve it'd wreck havoc on them. perhaps via a "comment" to allow specific keywords within the file?

[2017-03-02 02:02] dzanot opened #261 "TApplicationException.read API change in thrift 0.10.0"
The latest version (org.apache.thrift % libthrift % 0.10.0) of java thrift `TApplicationException` no longer has the static method `read(TProtocol iprot)` but the latest version of scrooge-core (4.14.0) is generating this method call via a service definition.

### Expected behavior

[Here you can see](https://github.com/apache/thrift/blob/0.10.0/lib/java/src/org/apache/thrift/TApplicationException

[2017-03-02 06:02] taylorleese commented on #261
More details in https://github.com/twitter/scrooge/issues/85.

[2017-03-02 21:34] dzanot commented on #261
Definitely. That issue didn't turn up in my searches.

[2017-03-03 08:44] tejasmanohar opened #262 "SBT: Unresolved dependencies"
I think the apache thrift dependency version information is out-of-date. I'm getting this error when copying the example SBT config. New to Scala so sorry if I'm missing something silly here.

### Expected behavior

From https://twitter.github.io/scrooge/SBTPlugin.html,
[code]

I'd expect SBT to resolve this.

### Actual behavior

[code]

I'm confused where 0.5.0-1 is coming from TBH.

[2017-03-03 08:50] tejasmanohar commented on #262
https://github.com/twitter/finagle/pull/160 seems relevant, but it's "closed". :\

[2017-03-03 17:12] bryce-anderson commented on #262
This blog post may help you: https://finagle.github.io/blog/2016/11/29/central-libthrift/

TL;DR: you're using an older version of finagle-thrift that depends on that older version of libthrift which is not published to maven central, but is published to our own maven repository. You could add a resolver, or better yet, update to a newer version of finagle-thrift and do the manual exclusion since

[2017-03-03 17:13] #262 closed

[2017-03-03 19:03] tejasmanohar commented on #262
Ahhh thanks! I'll try that

[2017-03-05 08:27] tejasmanohar commented on #262
compilation succeeds with

build.sbt
[code]

plugins.sbt
[code]

is that what you meant, @bryce-anderson? thanks!

[2017-03-06 00:37] taylorleese commented on #261
@kevinoliver is going to spend some time in the next week or two looking at how much work would be involved in moving to 0.10.0 internally and then we should have an informed idea if this is feasible in the near term for us or not.

[2017-03-12 20:02] tejasmanohar opened #263 "Cannot compile Hive's .thrift file- "field in union cannot be optional""
I get

when I try to generate a Scala server for [Hive's .thrift protocol](https://github.com/apache/hive/blob/3e01ef3268ffbcb69c5c18c2c9f8810512c91bf8/service-rpc/if/TCLIService.thrift).

[code]

### Expected behavior

Scrooge to compile Hive Thrift RPC files just like the Thrift CLI does for Java

### Actual behavior

Crashes with an exception

### Steps to reproduce the behavior

1. Download [H

[2017-03-12 22:57] macalinao commented on #263
From the scrooge changelist:

You need to not be in strict mode for this.

[2017-03-13 00:46] tejasmanohar commented on #262
I can actually build with no problem until I add the SBT plugin... where neither exclusion nor adding a resolver seems to do the trick :\

_plugins.sbt_
[code]

_build.sbt_
[code]

Fails with
[code]

[2017-03-13 04:32] mosesn commented on #262
@tejasmanohar you need to use the same version of the scrooge plugin as the scrooge you're using.  up to date versions of the scrooge plugin will com.twitter libthrift which is published to maven central instead of org.apache.thrift 0.5.0-1, which is not.

[2017-03-13 17:54] tejasmanohar commented on #262
Ahh, I'll try that

[2017-03-30 15:53] muuki88 opened #264 "fieldInfo is not defined in unionStructFieldInfo for list types"
The `unionStructFieldInfo` method is incorrectly implemented for `list` types

### Expected behavior

scrooge generates compilable scala code

### Actual behavior

scrooge generates scala code that access a non-existing field

### Steps to reproduce the behavior

We have a thrift definition like this

[code]

The resulting `IdNameTupleList` has the following code generated:

[code]

[2017-03-30 17:14] mosesn commented on #264
oof.  is the issue when you try to have a union over a thrift-defined data structure?

[2017-03-31 06:32] muuki88 commented on #264
Yeah, looks like this. The `list<IdNameTuple> IdNameTupleList` generates a `Seq[IdNameTuple]` ( == `IdNameTupleListAlias`) which has no `fieldInfo` field.

I can work around this by create a struct wrapping the list. However it would be nice to either document this restriction and throw a meaningful error, or support this.

[2017-03-31 06:46] muuki88 commented on #264
I found the real issue. Using an extract struct didn't solve the problem, which made me wonder.
The fieldname in the union field definition starts with a capital letter

[code]

Changing this to

[code]

Solves the issue as the correct variable is used and not the `IdNameTupleList` object.

[2017-03-31 06:46] #264 closed

[2017-03-31 06:48] mosesn commented on #264
Ahhh, good catch!

[2017-04-20 14:06] sihil commented on #262
I've also just run into this. I think partly because the versions on the docs at https://twitter.github.io/scrooge/SBTPlugin.html are a year or so out of date.

[2017-05-04 10:14] filipesabella commented on #254
@QuantumBear having the same problem here, did you find a solution?

[2017-05-04 21:47] nepthar commented on #254
Looks like this issue is from using a rather outdated version of scrooge. Try using the same version of scrooge-core as you're using with the plugin.

[2017-05-05 09:41] QuantumBear commented on #254
run command 'mvn clean install' with latest trunk code.

[ERROR] /home/sili/code/scrooge/demos/scrooge-maven-demo/src/main/scala/com/twitter/example/Demo.scala:14: error: overloaded method value hosts with alternatives:
[ERROR]   (address: java.net.InetSocketAddress)com.twitter.finagle.builder.ClientBuilder[Nothing,Nothing,com.twitter.finagle.builder.ClientConfig.Yes,Nothing,Nothing] <and>
[ERROR]

[2017-05-08 19:43] kevinoliver commented on #254
@QuantumBear yeah that looks like a bug.

and worse, it looks like we have nothing in the way of tests (or even compilation!) for the demos.

it probably wouldn't be too hard to fix based on a quick look around in that folder.

[2017-05-09 00:03] mosesn commented on #263
@tejasmanohar I think your question has been answered, so I'm going to mark this as closed.  Feel free to reopen if you still have questions!

[2017-05-09 00:03] #263 closed

[2017-05-09 00:05] mosesn commented on #261
@dzanot exciting update!  changing to 0.10.0 isn't as much work as we thought it would be so, we have [scheduled][0] it.  Should happen in the next few months.

[0]: https://finagle.github.io/blog/2017/03/20/spring-planning/

[2017-05-09 00:05] mosesn commented on #85
We've finally [scheduled][0] this.  Should hopefully happen in the next few months.

[0]: https://finagle.github.io/blog/2017/03/20/spring-planning/

[2017-05-09 00:06] mosesn commented on #259
@rklancer would you be open to making a PR that reserves the thrift reserved words?

[2017-05-09 00:08] mosesn commented on #257
@scf37 based on previous discussion, I don't think we're going to change this behavior, so I'm going to close this ticket.  Please reopen if you want to continue discussing it.

[2017-05-09 00:08] #257 closed

[2017-05-09 00:10] mosesn commented on #256
@knightpop since you haven't continued replying to this thread, I assume you fixed your problem.  If you haven't, please reopen and we can take another look.

[2017-05-09 00:10] #256 closed

[2017-05-09 00:12] mosesn commented on #254
@QuantumBear I'm going to take a stab at this.  In the long run, we should have a travisci job which will fail if the demos don't build.  Would you be interested in making a PR for that?

[2017-05-09 00:18] mosesn commented on #250
@alexkuang sorry for the slow response.  I think adding a method to each generated struct makes sense.  Would you be interested in tackling this?

[2017-05-09 00:22] mosesn commented on #233
This was fixed a while back in #234, thanks @joprice!

[2017-05-09 00:22] #233 closed

[2017-05-09 00:25] mosesn commented on #220
@olix0r are you still interested in making that PR?

[2017-05-09 00:32] mosesn commented on #217
This was fixed a while back in #245 thanks @leoneuwald!

[2017-05-09 00:32] #217 closed

[2017-05-09 21:13] mosesn commented on #199
@jstultz are you still interested in tackling this by any chance?

[2017-05-09 21:14] mosesn commented on #191
@johnynek do you remember what the denouement of this issue was on your end?

[2017-05-09 21:15] mosesn commented on #170
@pkohan it sounds like scrooge-circe might have solved your problem?  I'm going to close this ticket, but please feel free to reopen if you'd like to revisit it.

[2017-05-09 21:15] #170 closed

[2017-05-09 21:17] mosesn commented on #160
This was fixed in #244 🎆

[2017-05-09 23:39] ihorkhavkin commented on #160
@mosesn is it a mistake to resolve this issue? see "This change doesn't yet support recursive types which is needed to fully resolve #160." on #244

[2017-05-10 00:51] mosesn commented on #160
@ihorkhavkin maybe!  what's the distinction between self-referential types and recursive types?

[2017-05-10 06:36] zfy0701 commented on #160
recursive:
[code]
self referential
struct A {
  1 A a;
}

[2017-05-10 14:39] jstultz commented on #199
I could try to find some time if there were some broader interest in the change; we have a solution (mentioned above) that _mostly_ works for us now, but there are still some problems that I'd want to come up with a solution to before putting something upstream.

Everything works fine for us in a simplified (unrealistic) world where all SBT subprojects are either thrift projects that publish thrif

[2017-05-10 16:34] mosesn commented on #160
@zfy0701 got it, thanks!

[2017-05-10 16:36] mosesn commented on #199
@jstultz thanks for the write-up, that makes a lot of sense.  What do you think is the right way forward on this issue?  Should we close it?  Is there something simple that we could add to scrooge that would make your life easier?

[2017-05-10 17:05] jstultz commented on #199
The only idea I've got to resolve that issue is to make it easy to exclude compiled classes originating from the thrift projects from the `packageBin` output by providing some setting/task that yields the files as a value. If those files are known, it wouldn't be difficult, but it doesn't seem trivial: all scrooge-sbt does is put the generated scala files into managed sources, right? Determining t

[2017-05-10 20:43] mosesn commented on #125
This issue came up again on finagle: https://github.com/twitter/finagle/issues/572

[2017-05-10 20:54] mosesn commented on #199
Hmm, OK.  I'm going to close this for now.  @liamstewart please reopen this if you'd like to revisit it.

[2017-05-10 20:54] #199 closed

[2017-05-20 02:38] chrisbenincasa commented on #220
I've opened a PR that fixes this behavior: https://github.com/twitter/scrooge/pull/267

[2017-05-23 13:36] mosesn commented on #220
thanks @chrisbenincasa!  this has been fixed here: https://github.com/twitter/scrooge/commit/34989e2395f71934bc1a552299f0e078d8a71c9e

[2017-05-23 13:36] #220 closed

[2017-05-25 13:56] chrisbenincasa opened #268 "Unused imports included in headers"
Unused imports are included in the headers of generated files causing 2.12 builds with the default -Yfatal-warnings` setting to fail (unless the correct linting options are unset)

### Expected behavior

Scrooge generates files with headers including only the imports the current file needs.

### Actual behavior

Scrooge generates import statements for classes that are never used.

### Steps to rep

[2017-06-15 06:42] muuki88 commented on #85
This was never an issue with Scala, right?

[2017-07-05 12:11] folex commented on #160
Please do!

[2017-07-12 22:44] yufangong commented on #268
Hi @chrisbenincasa , thanks for the issue.
I think this is because scrooge template includes all imports there, the import is unused by some services is being used by others. (I can be totally wrong tho)

Do you want to do some investigation on this issue to find a solution? Get more service ad-hoc generated code instead maybe. Patches are more than welcome!

[2017-08-18 17:46] greggdonovan opened #275 "Support sbt 1.0 for scrooge-sbt-plugin in bintray"
With sbt 1.0 out, it would be great to support sbt 1.0 cross-building and artifact publishing for scrooge-sbt-plugin.

I see [sbt 1.0 support for dodo](https://github.com/twitter/scrooge/commit/251cf2918d3371de4599a9777ed1980423202431) but there does not appear to be sbt 1.0 artifact publishing for the external bintray repository.

[2017-08-18 22:23] mosesn commented on #275
@greggdonovan good news!  we're planning on publishing for 1.0.0 next release.  we were going to do it this time, but ran into a few problems around it, so it didn't make the cut.  next release should be early September.

[2017-09-08 07:59] dazebug commented on #275
Does anybody know when is the next release? We are eagerly waiting for the plugin Lol

[2017-09-08 16:33] mosesn commented on #275
@dazebug still working on it, sorry!  The next release came out, but I'm having trouble testing the 1.0.0 plugin so we decided not to include it this time.  Right now we're probably looking at early October :/

[2017-09-29 14:54] chrisbenincasa commented on #268
@yufangong sorry for the delayed reply! I can take a look at what it would take to fix this up.

[2017-09-29 17:46] devshorts opened #277 "Scrooge 4.20 generates Adapting argument list by creating a 2-tuple warning"
When upgrading to scrooge 4.20 our generated thrift clients now emit a

[code]

This is a new warning that didn't exist in at least scrooge 4.16 using both scala 2.12 and scala 2.11

### Expected behavior

Scrooge should be generated to not have this warning

### Actual behavior

Scrooge has the warning

### Steps to reproduce the behavior

Generate thrift with scrooge 4.20

[2017-09-29 17:50] kevinoliver commented on #277
Good find, thanks. Want to take a crack at a fix? I think it would be adding parens [here](https://github.com/twitter/scrooge/blob/develop/scrooge-generator/src/main/resources/scalagen/finagleService.scala#L112).

[2017-09-29 20:53] yufangong commented on #268
@chrisbenincasa sounds great! Thank you!

[2017-10-06 13:13] tencentflo opened #278 "Scrooge fails generation when exception definition is added to the IDL file"
I have a simple finagle thrift server which has been working just fine but when I add an exception to the IDL, scrooge fails to compile

[code]

The IDL is

[code]

I looked at several examples and and the syntax for exception is correct as far as I can tell. To generate the thrift-scala I'm running

sbt scrooge-gen

This project is very minimal at the moment, with just the recommended config I fo

[2017-10-06 15:25] bryce-anderson commented on #278
Are you sure you should be defining the exception within the service definition?

[2017-10-09 12:57] tencentflo commented on #278
Apparently not. Thanks

[2017-10-09 12:57] #278 closed

[2017-10-11 18:01] gpoirier commented on #275
Any update on this? It's the only plugin that prevents us from using sbt 1.0.

[2017-10-11 20:38] mosesn commented on #275
Sorry, I got pulled off onto something else, and haven't had a chance to revisit this.  I'm oncall this week, so if things aren't too crazy on my end I'll try to take another look.  The last time we tried we ran into a couple of issues around it.

[2017-10-12 01:00] tomykaira opened #279 "scrooge-generator: Give @Deprecated for scala, as thrift for java does"
One line summary of the issue here.

### Expected behavior

When "deprecated" annotation is given, the field has `@Deprecated` annotation in generated scala file.

### Actual behavior

Nothing happens.

### Steps to reproduce the behavior

Prepare thrift file like this.

[code]

Compile it.

[code]

Definition of bar appears, but it does not have `@Deprecated` annotation.

I expect something like

[2017-10-12 15:50] mosesn commented on #279
@tomykaira so right now we're using libthrift 0.5.0 and we don't support a ton of 0.10.0 features.  However, I think it would be safe to add this feature, so I think it's a good idea.  Would you be interested in trying to add this feature?

[2017-10-19 18:26] wesselOC commented on #261
@taylorleese  Any idea when this is scheduled for ?  Much appreciated!

[2017-10-19 19:29] mosesn commented on #261
@wesselOC it's on our plate for this quarter, but it's not the highest priority, so it might get delayed again.

[2017-10-19 20:53] wesselOC commented on #261
@mosesn that would be a pity. Would you guys accept a pull request for something so core?

[2017-10-24 07:52] hoswey opened #280 "support for c++"
It seems scrooge is not support c++, any plan to support it?

[2017-10-24 14:16] mosesn commented on #280
No, if you want to use thrift from C++, we encourage you to use the thrift generator.  Finagle is only for the JVM, so we don't have a C++ integration.

[2017-10-24 14:16] #280 closed

[2017-11-01 22:26] mosesn commented on #275
we merged in support for this [here](https://github.com/twitter/scrooge/commit/d3499b89fbee72766d95b89e3f7c323272b3dce7) and we're planning on doing a release soon.  thanks for your patience folks!

[2017-11-11 09:56] mentegy commented on #275
good job guys, can't wait for it!

[2017-11-16 15:56] mentegy commented on #275
@mosesn Do you have a date of 17.11.0 release?

[2017-11-16 16:11] mosesn commented on #275
@mentegy I'm working on it as we speak =).  there have been a few more issues around 1.0.x, unfortunately.

[2017-11-24 03:38] mosesn commented on #275
We've published a new release, 17.11.0, which should support 1.0.x.  Please try it out and let me know if you run into any issues!

[2017-11-24 03:38] #275 closed

[2017-11-29 12:42] mentegy commented on #275
@mosesn works great so far, gratz!

[2017-11-29 14:41] mosesn commented on #275
@mentegy ok, phew, glad to hear it!

[2017-12-08 13:12] mahmoudhanafy opened #284 "Getting this error after adding the support for sbt 1.0"
We were using old version of scrooge and it was working fine, but after upgrading I got this error.

[code]

[2017-12-08 17:30] kevinoliver commented on #284
Can you give more details on what you ran and versions and so on?

Wild guess is that your build is missing a netty 3 dependency.

[2017-12-18 16:19] jimschubert commented on #284
@kevinoliver

Apparently, this change in sbt 1.0 https://github.com/sbt/sbt/commit/b27ff9ace7116e43e5978671eab0a8888b7ab16c#diff-46751185767542b1d052bc42435916bd

Changes `module-id`:

[code]

to `moduleID`:

[code]

And scrooge whitelists by the old `module-id` value: https://github.com/twitter/scrooge/blob/develop/scrooge-sbt-plugin/src/main/scala/com/twitter/ScroogeSBT.scala#L55 (and again: htt

[2017-12-18 18:31] mosesn commented on #284
@jimschubert I think we would be open to a PR that inspects both "module-id" and "moduleID".

[2017-12-18 20:57] jimschubert commented on #284
@mosesn cool. That sounds simple enough. I'll see if I can verify that as a fix locally and open a PR in the next day or two.

[2017-12-19 16:04] jimschubert commented on #284
I opened #285 with a fix that resolves my issue locally. I was wondering if @mahmoudhanafy could check as well.

[2017-12-19 16:07] mahmoudhanafy commented on #284
I'm using build.sbt, how can I check it?

[2017-12-19 16:17] jimschubert commented on #284
@mahmoudhanafy I've just finished adding steps to verify locally in the PR #285.

[2017-12-26 16:59] cacoco commented on #284
PR #285 was merged a few days ago. I'm going to close this issue -- however, if the problem still exists, please feel free to open a new issue. Thanks!

[2017-12-26 16:59] #284 closed

[2018-01-22 13:10] DieMyst commented on #268
+

[2018-02-08 19:51] devshorts opened #286 "No such method error creating thrift client on java 9"
No such method error when running on java 9

### Expected behavior

### Actual behavior

Testing some code of mine on java 9 (9.0.4) and seeing the following error trying to create a thrift client:

[code]

### Steps to reproduce the behavior

using `finagle-thrift_2.12-7.1.0`

Oddly enough running my code in java 9 in intellij works just fine. However, when I run my code via sbt (with fork true)

[2018-02-08 20:01] yufangong commented on #286
@devshorts  thanks for the report. This smells like a version conflict problem of libthrift, scrooge depends on 0.5.0, do you depend on any other versions as well?

[2018-02-08 20:31] devshorts commented on #286
@yufangong hmm, we have libthrift 0.9.3 from apache on the classpath.  I dont' remember why we added it, so I'll dig into it. Is the recommendation to just use the thrift that is pulled in transitively via finagle-thrift?

[2018-02-08 21:18] yufangong commented on #286
Currently, libthrift 0.9.x is not compatible with 0.5.0, it has some breaking API changes, so I think it is good to avoid version conflict. And we are upgrading libthrift to 0.10.0 now, will rollout after all tests are done.

[2018-02-12 19:37] oscar-stripe commented on #151
are there current docs on how to do this? I am putting:
[code]
in my settings, but I'm not getting the `.thrift` files. Has anything changed?

[2018-02-13 15:42] mosesn commented on #151
@oscar-stripe I don't believe so, but we also don't exercise that path, so it might have.

I don't really understand sbt scoping, but maybe you need to say, `scroogePublishThrift in Compile := true`?

[2018-02-13 16:42] johnynek commented on #151
Yeah. It was a scoping issue. I really don’t actually understand SBT.

On Tue, Feb 13, 2018 at 05:42 Moses Nakamura <notifications@github.com>
wrote:

--
P. Oscar Boykin, Ph.D. | http://twitter.com/posco | http://pobox.com/~boykin

[2018-02-14 20:29] dossett opened #287 "Documentation for sbt-plugin scroogeBuildOptions is out of date"
The [documentation](https://github.com/twitter/scrooge/blob/develop/doc/src/sphinx/SBTPlugin.rst) refers to `scroogeBuildOptions` as a `Seq[String]` but it is now something related to `Seq[ServiceOption]`, see: https://github.com/twitter/scrooge/blob/develop/scrooge-sbt-plugin/src/main/scala/com/twitter/ScroogeSBT.scala#L64

If it possible to add options by creating `ServiceOption`s that should be

[2018-02-14 21:05] yufangong commented on #287
Thanks for the report, @dossett. Are you interested in fixing the documentation?

[2018-02-14 23:51] dossett commented on #287
Hi @yufangong I would be happy to, once i figure out how to use the new type. Do you know of any examples of the verbose option being set with the new type?

[2018-02-15 01:26] yufangong commented on #287
Thank you and apologize for the out-dated doc. Not sure if this will answer your question, but, we have two [`ServiceOption`s](https://github.com/twitter/scrooge/blob/develop/scrooge-generator/src/main/scala/com/twitter/scrooge/backend/Generator.scala#L32) so far, and both of them have been set as default [`WithFinagle`](https://github.com/twitter/scrooge/blob/develop/scrooge-sbt-plugin/src/main/s

[2018-02-15 02:26] dossett commented on #287
Thank you! If I'm understanding that PR correctly, adding a verbose option would require creating a new `ServiceOption` like `case object WithVerbose extends ServiceOption` and then adding logic to `Generator.scala` to pass a verbose option to the compiler if `WithVerbose` is present?

[2018-02-15 14:09] dossett commented on #287
Just to clarify @yufangong what I mean is that it used to be possible to pass the verbose flag to scrooge with:
`scroogeBuildOptions in Compile := Seq("--verbose")`

But now it does seem possible to enable that flag at all. A code change, not just a document update, would be required.  Something like `case object WithVerbose extends ServiceOption` and other code changes to support it.  Is that rig

[2018-02-15 19:43] yufangong commented on #287
@dossett Agreed, couldn't find the verbose option in the plugin. I think what you said above is correct.

[2018-02-16 16:56] mosesn commented on #160
This was fixed by @folone here: https://github.com/twitter/scrooge/commit/2a731bbc49cdf11372cd1d001b9446451dcd84fe

[2018-02-16 16:56] #160 closed

[2018-02-19 10:59] folone commented on #160
Nice, thanks for pushing this @mosesn!

[2018-02-19 11:01] reikje opened #288 "scrooge-sbt-plugin should complain if exception identifiers are not unique"
When you define a service function that throws multiple exceptions, but you use the same exception identifier/name, scrooge-sbt-plugin should already fail to generate code.

### Expected behavior

The generate step should fail with a similar error that the vanilla thrift generator produces: `"2: e" - field identifier/name has already been used`.

### Actual behavior

Code is generated but doesn't

[2018-02-24 22:26] politrons commented on #151
Any idea why in Maven my thrift file cannot be found? "No thrift files to compile" all the time!

[2018-03-07 06:13] kimxogus commented on #261
Are there any updates about this issue?

[2018-03-07 17:20] kevinoliver commented on #261
_/me crosses fingers_

soon we hope. the code is done and we are waiting for some final rounds of verification and testing to come back.

[2018-03-07 17:30] wesselOC commented on #261
Awesome news!

On 07 Mar 2018 19:25, "Kevin Oliver" <notifications@github.com> wrote:

[2018-03-16 01:16] Botong opened #290 "Transient Error No companion ThriftStructCodec found for interface"
One line summary of the issue here.
No companion ThriftStructCodec found for interface
### Expected behavior
Scrooge generated Scala should be resolved correctly by Cascading
### Actual behavior
Getting No companion ThriftStruct found for interface once a while

### Steps to reproduce the behavior
I am writing Scalding which includes a Scala class which is Scrooge generated (from Thrift). However

[2018-03-16 18:30] yufangong commented on #261
@dzanot @wesselOC @kimxogus  Hi all, we upgrade libthrift to 0.10.0, it should solve this issue. If that is not the case please open another issue. Thank you all.

[2018-03-16 18:30] #261 closed

[2018-03-16 22:09] yufangong commented on #286
Hi @devshorts, we upgraded libthrift to 0.10.0, it should solve this issue. If that is not the case please open another issue. Thank you.

[2018-03-16 22:09] #286 closed

[2018-03-16 22:11] yufangong commented on #85
Hi, we upgraded libthrift to 0.10.0, it should solve this issue. If that is not the case please open another issue. Thank you.

[2018-03-16 22:11] #85 closed

[2018-03-16 22:26] muuki88 commented on #85
Awesome 🤩

This will be included in the next 18.4 release?
And is it the standard libthrift or an adapted Twitter version?

[2018-03-16 22:29] yufangong commented on #85
@muuki88  yeah, this already already merged as of in 997f2464ca04998ce5b7a73c56c7667d1754a01b. And this is standard libthrift, not a twitter forked one!

[2018-03-16 23:52] yufangong commented on #125
closing underlying service has been merged in 1fa4f0c6df334b1bcca71fe53683ee15f4aa5cc5. Thank you!

[2018-03-16 23:52] #125 closed

[2018-03-17 00:38] yufangong commented on #203
Thanks, @adriancole. We have removed `TBinaryProtocol.setReadLength` usage in 997f2464ca04998ce5b7a73c56c7667d1754a01b. Closing this issue for now.

[2018-03-17 00:38] #203 closed

[2018-05-12 15:35] seanparsons commented on #99
Closing to cleanup my own list of issues.

[2018-05-12 15:35] #99 closed

[2018-05-14 23:04] gregsilin commented on #254
I just ran into the same issue on Scrooge `18.5.0` with `libthrift` `0.10.0`, which is the default version included with that version of Scrooge.  I played around with different versions of libthrift, but no dice.

Are there any workarounds for the issue?

[2018-06-12 02:21] komsit37 opened #293 "generated source exceeds default intellij file size limit (2.44MB)"
Intellij code insight feature cannot be used (no code jump or error highlight) on generated source file from big thrift service (~60 methods)

### Expected behavior

Intellij code insight works on generated source file

### Actual behavior

Got the following message when opening generated source in intellij
`Generated file size exceeds default intellij configured limit (2.44MB). Code insight featu

[2018-06-12 17:51] yufangong commented on #293
Hi @komsit37, thank you for reporting the issue. Currently, we have some deprecated interfaces in the generated code we are about to drop ***soon***, those are `MethodIface`, `FutureIface`, `ServiceIface` and their corresponding builder object.
This is a bit challenging as internally we need to migrate all code from old APIs to new ones and come up with a plan to help OSS do this easier. I'll prov

[2018-06-18 14:17] mosesn commented on #254
@gregsilin sorry for not getting back to you for a while.  just to confirm, the issue you're seeing is with the scrooge demos?

[2018-08-09 08:33] komsit37 opened #294 "thriftmux ServicePerEndpoint client silently swallow exception in void function"
thriftmux ServicePerEndpoint client silently swallow exception when function return type is Future[Unit]

### Expected behavior

exception is thrown (similar to MethodPerEndpoint)

### Actual behavior

no exception thrown

### Steps to reproduce the behavior
given thrift idl
[code]
the last test case in below test fails (ServicePerEndpoint: unit) with message `Expected exception idl.SomeException

[2018-08-09 20:47] yufangong commented on #294
Thank you for the report! I think this is a bug, will take a closer look soon to locate the problem.

[2018-08-10 00:36] komsit37 commented on #294
@yufangong Thanks for checking. Forgot to mention, I'm using scrooge 18.5.0.

[2018-08-13 17:07] kevinoliver commented on #290
Closing, as this seems environmental.

[2018-08-13 17:07] #290 closed

[2018-08-13 20:17] kevinoliver commented on #294
@yufangong landed the fix in https://github.com/twitter/scrooge/commit/6fdb5c3312b798554e19b684b7da5efa8927e789. Thanks again for the bug report.

[2018-08-13 20:17] #294 closed

[2018-09-24 13:15] ccmtaylor opened #298 "not possible to implement multiple services in one class"
PHAB_ID=D129645 added `.asClosable` methods to `MethodPerEndpoint` interfaces. If a class implements multiple interfaces, it must override `asClosable` to avoid compiler errors. However, it is
not possible.

### Expected behavior

I can implement multiple `ServicePerEndpoint` interfaces in one class.

### Actual behavior

the compiler complains about conflicting members.
[code]
As far as I can tel

[2018-09-24 17:57] yufangong commented on #298
@ccmtaylor Hi, can you elaborate more why you want one class implement multiple services' MethodPerEndpoint? I wonder if the `Echo` should actually extends `ExtendedEcho`
[code]
In that case, it should work by only letting the class extended the `ExtendedEcho.MethodPerEndpoint`.

[2018-09-24 18:18] cacoco commented on #298
@ccmtaylor +1 to @yufangong. It is expected that you express the relationship between the two services in your thrift definition and your implementation would be of the child service. This would have all methods from the parent in addition to it's own to be implemented and only one `asClosable` function.

[2018-10-05 07:37] ccmtaylor commented on #298
Thanks for the feedback, @yufangong and @cacoco! You're right, using inheritance would address the issue for the example I provided. However, this would not work if the two interfaces were disjoint (imagine, e.g., an internal- and an external-facing API for some domain entity).

If this is not a supported use-case anymore, would it make sense to document that an implementation class can only imple

[2018-10-05 21:44] cacoco commented on #298
@ccmtaylor if the interfaces are disjoint -- this isn't supported by Thrift. See: https://thrift.apache.org/docs/features

You're expected to design a service and services can inherit other services. There's no other polymorphism supported. So I'm not sure what would be the expected behavior here for a generator or generated code?

[2018-10-05 22:04] yufangong commented on #298
@ccmtaylor It is not supported as @cacoco said, any reason you cannot use separate servers? I think this is a rare case and we haven't received any similar feedback before, the doc and code examples [here](https://twitter.github.io/scrooge/Finagle.html#methodperendpoint) are pretty clear,  And I'm worried about adding this note may lead users to overthink.

[2018-11-02 09:17] xWvxYWYxvWx opened #299 "JDK 9+ compilation failed with wrong annotation "javax.annotation.Generated""
JDK 9+ not supported yet.

### Expected behavior

we can compile `.thrift` files under JDK 9, JDK 10 and JDK 11.

### Actual behavior

got compilation errors:

[code]

- Java 9: javax.annotation.processing.Generated
- Java 8: javax.annotation.Generated

### Steps to reproduce the behavior

run `sbt compile` to compile `.thrift` files under JDK 11.

[2018-11-29 14:41] #298 closed

[2018-12-17 19:51] ryanoneill commented on #299
Sorry for the lack of response here @xWvxYWYxvWx. We use Java 8 internally at Twitter and are planning to move directly to 11. Is this something that you would be interested in submitting a pull request for?

[2018-12-18 12:18] victordudu1121 commented on #231
so how fix it then?
I am experiencing the same problem
@PapaCharlie @mosesn

[2018-12-18 15:06] mosesn commented on #231
@victordudu1121 don't inspect the contents of the bytebuffer with `ByteBuffer#array`.  Instead use methods like `ByteBuffer.getInt` to read the contents.  Note that ByteBuffer often shares the underlying array with other ByteBuffers to avoid having to copy the contents of an array.

[2018-12-18 16:07] PapaCharlie commented on #231
The issue is that if the field @victordudu1122 is an array, the API returns a ByteBuffer. The position and limit will be set to the correct slice, but calling to array returns the entite array instead of just the slice. This is just how ByteBuffers are designed. If thrift ever changes the underlying implementation to use direct (off-heap) buffers, then toArray will actually throw a runtime error.

[2018-12-19 18:18] #277 closed

[2018-12-19 18:53] kevinoliver commented on #277
@samschlegel apologies for messing up on the commit as i lost your authorship. hope this isn't a problem.

[2018-12-19 20:31] samschlegel commented on #277
No worries 😊

[2019-01-18 05:32] mmlac commented on #254
I ran into that just now when the maven (or sbt in my case) and the lib versions aren't aligned. Especially recently moving things from .scrooge to .finagle.thrift threw me off because I updated the lib but not the plugin:

`object ThriftService is not a member of package com.twitter.scrooge`

I don't know if this is the exact same as the — now quite old — original issue, but it seems something to

[2019-01-19 03:20] mmlac commented on #299
@ryanoneill I created a PR #300 for it. Let me know what you think.

[2019-02-18 13:58] tavoaqp commented on #254
I had the same problem and solved it by updating the sbt-scrooge-plugin in `project/plugins.sbt` like so:

`addSbtPlugin("com.twitter" %% "scrooge-sbt-plugin" % "19.1.0")`

and adding these dependencies in `build.sbt`:
[code]

As you can see I'm using Finagle. Hope it helps.

[2019-03-18 19:30] muuki88 opened #301 "Use finagle.StatsFilter to add request latencies"
Using the a `finagle.StatsFilter` per method would add request latencies for each endpoint.

### Expected behavior

I would like to have request latencies in my stats per method.

### Actual behavior

Only success and failure counts are available

### Steps to reproduce the behavior

The `service.mustache` file (https://github.com/twitter/scrooge/blob/2f5fc458852f7f0b8797f3dba6972cf6f65b45f8/scroo

[2019-03-29 14:40] zivanfi opened #303 "Scrooge can not handle empty structs"
Empty stucts lead to a compilation error:

[code]

### Background

In the Apache Parquet project we would like to update our Scrooge dependecy from the ancient Scrooge 3.17.0 to a newer version. However, we have found that Scrooge 19.1.0 doesn't handle empty structs properly any more. [We have several such structs in Parquet](https://github.com/apache/parquet-format/blob/master/src/main/thrift/par

[2019-03-29 16:44] zivanfi opened #304 "Code generated by Scrooge does not compile if a union has a member named STRING"
If a union has a member named STRING, the code generated for it shadows `java.lang.String`, which leads to compilation errors.

### Details

In the Apache Parquet project we would like to update our Scrooge dependecy from the ancient Scrooge 3.17.0 to a newer version. However, we have found that Scrooge 19.1.0 doesn't handle our [logical type for strings](https://github.com/apache/parquet-format/b

[2019-04-01 16:31] nandorKollar commented on #303
Though this seems to be a problem in the parser, I think removing the comment from the struct (/** TODO: **/) cold be a workaround.

[2019-04-02 08:56] nandorKollar commented on #304
I propose [this](https://github.com/twitter/scrooge/pull/305) PR to fix the problem

[2019-04-02 12:22] zivanfi commented on #303
Ah, okay, I think I get it now. The problem is that this comment is a javadoc-style (/**), therefore scrooge expect to find an attribute following it that the comment applies to. In this case it really is an error in our thrift file (although the error message could be clearer). Resolving as "not a bug", thanks!

[2019-04-02 12:22] #303 closed

[2019-04-09 20:31] nandorKollar commented on #304
@zivanfi I think you can close this issue since the fixed is merged in e6ac7e1304112bb8b10f9c127a6697e65d14fbec

[2019-04-11 19:13] #304 closed

[2019-04-23 00:49] anusha-mallampati-ck opened #306 "scalagen: Instance of ServicePerEndpoint trait should apply filter when using filtered function"
Implementing ServicePerEndpoint trait and using `filtered` on its instance does not apply filters. Using ServicePerEndpoint.apply does apply the filters.

### Expected behavior

For a service, if you create a class that extends its ServicePerEndpoint trait and use `filtered` function on its instance, the filter should be applied.

### Actual behavior

Filter(s) are not applied

### Steps to reprod

[2019-04-29 23:01] ryanoneill commented on #306
Hi @anusha-mallampati-ck, I'm looking into this, and I'll let you know what I find.

[2019-04-29 23:20] ryanoneill commented on #306
I'm seeing what you see. Here's my rough code for reproducing:

[code]
[code]

[code]
[code]

[2019-04-30 19:12] ryanoneill commented on #306
Dug a little bit farther on this and the short answer is that when you extend 'TestService.ServicePerEndpoint', you should also be overriding the filtered implementation with one of your own.

In talking with some other folks on our team, Scrooge has poor visibility into the implementation of your class and thus doesn't know exactly how filtered should work in this scenario. I'm going to see what

[2019-05-01 01:06] yehbrianyeh opened #307 "Parse failure."
One line summary of the issue here.

### Expected behavior

Parser should not hit an exception

### Actual behavior

Parser hits exception

### Steps to reproduce the behavior

for this thrift code:
[code]

I run this:

`sbt 'scrooge-generator/runMain com.twitter.scrooge.Main -d /Users/brianyeh/scalathrift -s abac.thrift`

I get this:

[code]

linter hits the same issue. The standard code gen with

[2019-05-02 01:26] anusha-mallampati-ck commented on #306
@ryanoneill Is there a reason for making the default behavior of `filtered` on the ServicePerEndpoint trait not the same as the one on the object apply result (ServicePerEndpointImpl)?

I agree that folks should override based on their unique implementation, but shouldn't that be only necessary if they are doing something different with `filtered` other than just `filter.toFilter.andThen(someEndpo

[2019-05-02 01:34] ryanoneill commented on #306
I agree with you. In discussion with some teammates, there may be issues related to the fact that the trait can be extended. I'm looking into it, and trying to verify that calling essentially `ServicePerEndpoint.apply(...).filtered(filter)` is ok in all scenarios.

[2019-05-06 16:58] ryanoneill commented on #307
Hi @yehbrianyeh, I'm going to try to look into this today.

[2019-05-06 22:58] ryanoneill commented on #306
This has made its way to GitHub in commit https://github.com/twitter/scrooge/commit/e46b2785d036b2f6920eea9aefb5a93307618231 and will be in the next released version of Scrooge (likely by next week).

[2019-05-06 22:58] #306 closed

[2019-05-07 18:52] ryanoneill commented on #307
Hi @yehbrianyeh, this is due to the `/**` style comments within structs and enums. Scrooge doesn't seem to like them. If you change those to generic comments then it will work. I believe also moving the ones that are at the end of the line to a separate line before the item will work also.

[2019-05-08 19:04] anusha-mallampati-ck commented on #306
Thank you!

[2019-05-10 22:05] skonto opened #308 "Support Scala 2.13 RC1 and beyond"
`scrooge-serializer` is required by several projects, like chill which is used again by many other projects like Spark. Would be good to start supporting 2.13 as it will be soon out.

[2019-05-24 14:27] knight76 opened #309 "Support i8 type"
Support for I8

### Expected behavior
According to https://thrift.apache.org/docs/idl, thrift support i8.

[26] BaseType        ::=  'bool' | 'byte' | 'i8' | 'i16' | 'i32' | 'i64' | 'double' | 'string' | 'binary' | 'slist'

### Actual behavior
When I compiled i8 field using sbt scrooge 19.5.1, below exception is thrown.

[error] Caused by: com.twitter.scrooge.frontend.TypeNotFoundException: i8
[er

[2019-06-10 23:39] kevinoliver commented on #309
Thanks for letting us know. Would love a patch if you or anyone else is up for it.

[2019-06-15 07:47] martijnhoekstra opened #311 "scrooge-sbt-plugin fails to build"
compilation of scrooge-sbt-plugin fails

### Expected behavior

[code]

should finish successfully

### Actual behavior

Fails with crash. Most relevant part:

[code]

or the full thing at https://pastebin.com/NJd2RRaz

### Steps to reproduce the behavior

run compile in the scrooge-sbt-plugin project

[2019-06-20 15:57] cosmir17 opened #312 "Can 'passthrough_fields' be a private field if wanted when Scrooge generates codes (sbt plugin)?"
Is there a way to make 'passthrough_fields' as a private field when the code is generated.
I am using `scrooge-sbt-plugin' addSbtPlugin("com.twitter" % "scrooge-sbt-plugin" % "19.5.1")`

### Expected behavior
I want to see scala files(objects) generated, with 'passthrough_fields' as a private field. If it's a private field and there are methods handling this field indirectly, It would be excluded

[2019-06-27 14:21] #311 closed

[2019-07-02 13:18] ayoub-benali commented on #308
tried to build but it seems to be blocked by this PR https://github.com/twitter/util/pull/248 at least

[2019-07-03 19:48] mosesn commented on #312
as @enbnt mentioned in https://github.com/twitter/finagle/issues/776 I think you should use a different domain object for serializing it with json4s-jackson.  Scrooge's generated structs aren't intended to be used this way, so I think you'll have better results with that approach.

[2019-07-03 19:48] #312 closed

[2019-07-09 22:44] ryanoneill commented on #307
I'm going to close this issue since the question was answered and there was no follow up. Please feel free to open another issue if this wasn't addressed.

[2019-07-09 22:44] #307 closed

[2019-07-09 23:13] ryanoneill commented on #301
Hi @muuki88, sorry for the lack of response here.

For servers, this is something that we have, but only for users of Finatra. It writes these metrics via its `StatsFilter`. I get though that it doesn't help for folks who aren't using Finatra.

With that said, measuring latency isn't something that depends on the internal details of how a method works, nor the parameters of the method itself, so i

[2019-07-11 15:08] muuki88 commented on #301
Thanks @ryanoneill for the explanation. My suggestion was to reuse an already existing Filter implementation so this shouldn't add too much generated. The filter we are currently adding instead of using the `perMethodStatsFilter` is something like this

[code]

I'm not sure if this is the most robust or perfomant way to implement, but it does the job :)

[2019-07-11 15:08] #301 closed

[2019-08-12 18:25] yufangong commented on #309
Thanks for reporting @knight76, this is fixed by https://github.com/twitter/scrooge/pull/313, and merged https://github.com/twitter/scrooge/commit/03d84aea40c9edf87e8c69090c5077b8779fa655.

[2019-08-12 18:25] #309 closed

[2019-08-13 07:59] martijnhoekstra commented on #308
twitter/util is released, but not yet published.

As long as sbt is stuck on 1.1.4 for cross-publishing, we can't use sbt to build.

There is a draft for 2.13 support at https://github.com/twitter/scrooge/compare/develop...martijnhoekstra:213?expand=1  but I don't really understand the code so I'm not entirely sure it's correct, even though it's a minimal diff.

In addition, it relies on sbt 2.13.

[2019-08-13 08:25] ayoub-benali commented on #308
You mean sbt `1.3.0-RC3` ?

I don't see a problem kicking off a PR with sbt `1.3.0-RC3` by the time we are about to merge it we either upgrade sbt or make an other PR later.

So far we are still blocked by https://github.com/twitter/util/issues/253

[2019-08-13 09:25] martijnhoekstra commented on #308
Right, `1.3.0-RC3`

Is it possible to coerce both in at the same time? It would be a shame if we had to wait for a 19.9 release of twitter util, and then miss the 19.9 release for scrooge, and have to bring it along with 19.10 if my branch is indeed sufficient.

[2019-08-13 10:02] ayoub-benali commented on #308
Unless there is a valid reason to stick to sbt `1.1.4` we should push for an update.

The release schedule you describe is very bad :/
Do all these lib need to be released at the exact same time ? Otherwise we might be able to release them all in the same month just with few hours/days of difference

[2019-08-13 11:23] martijnhoekstra commented on #308
Yeah, that's what I was asking about: is it possible to get both scrooge and util updated in the same release cycle.

[2019-08-13 12:10] ayoub-benali commented on #308
@yufangong can you or other maintainers help with this ?

[2019-08-20 18:53] SethTisue commented on #308
twitter-util has now been published for 2.13

[2019-09-16 11:15] ayoub-benali commented on #308
I think this issue can be closed as a 2.13 release is available on maven
https://mvnrepository.com/artifact/com.twitter/scrooge-serializer_2.13/19.9.0

[2019-09-16 11:17] martijnhoekstra commented on #308
I'd argue against closing until the last (test!) subprojects are also on 2.13

That depends on finagle-thriftmux, which for which a PR is open in that repo.

[2019-09-26 18:51] gjfishman opened #316 "building linter fails - util-logging_2.12:19.10.0-Snapshot not found in Maven repo"
One line summary of the issue here.

Building the scrooge-linter fails because the 19.10.0 version of the util-logging dependency cannot be found. Changing build.sbt to use 19.9.0-SNAPSHOT works fine

### Expected behavior

A command like the following should run:
[code]
In this case, this should display the linter's help message.

### Actual behavior

Builds fail with the following exception:

[c

[2019-09-30 21:26] mosesn commented on #316
@gjfishman we've investigated publishing snapshots to maven central, but so far we've had issues around our travisci integration, so right now you need to build snapshots locally.  Check out the guidance in [CONTRIBUTING.md](https://github.com/twitter/scrooge/blob/develop/CONTRIBUTING.md#building-dependencies) for how to build the deps locally.

[2019-12-17 23:26] ryanoneill commented on #316
Hey @gjfishman, the documentation for [running Scrooge from the command line](http://twitter.github.io/scrooge/CommandLine.html) has recently changed to instead say specifically to use the master branch. This means you should no longer need to deal with publishing locally (and SNAPSHOT dependencies) in trying to run it via instructions. Hope that helps. Thanks.

[2020-01-28 17:58] chenzhuoyu commented on #44
Any updates on this? I seem to have the exact same problem ....

[2020-02-26 21:40] yawaramin opened #324 "Generate traits decoupled from Thrift dependencies"
Currently, the generated code is strongly coupled to Thrift. This locks the whole codebase into Thrift, or forces developers to manually duplicate types and convert between them. Instead, the generated code could decouple from Thrift. Here's a simplified example.

[code]

Currently this generates:

[code]

I am suggesting generating completely decoupled trait:

[code]

Now because of this subtypin

[2020-03-09 17:32] ryanoneill commented on #324
Hi @yawaramin, thanks for the suggestion. We're going to be making some other big changes to Scrooge this year in order to better align it with Finagle and bring Java code generation in line with Scala's. Perhaps this is something that we would consider after that.

Internally, we've been trying to cut down on the amount of code scrooge generates, as the time it takes to compile all of it can make

[2020-03-25 14:38] felixbr opened #326 "Closing of finagle-thrift client with scrooge generated service"
I'm looking for a way to close a thrift-client, which connects to a service (generated via scrooge).

### Expected behavior

If I generate a thrift-client like this
[code]
I get back a client which has a `asClosable` method and calling `close()` on it should shutdown the client-connections, thread-pools, and other resources.

### Actual behavior

The `close()` method doesn't seem to do anything be

[2020-03-28 00:25] jyanJing commented on #326
Thanks @felixbr for reaching out!

The thrift-client should override the `asClosable` so it shouldn't be `nop`.

To verify if the underlying resources is closed or not, you could follow this [example](https://github.com/twitter/scrooge/blob/develop/scrooge-generator-tests/src/test/scala/com/twitter/scrooge/backend/ServiceGeneratorSpec.scala#L459) to write a similar test.

Please let me know how it

[2020-03-28 08:56] felixbr commented on #326
Thanks for the tip, @jyanJing!

I wrote a test which verifies closing via the `ServiceClosedException` as one of the tests you linked does. Seems to work well: https://github.com/felixbr/finagle-effect/commit/6b4c9bd50b47de7694e3664b2fd684ad9e532b14

I haven't checked if closing it also cleans up connections and thread pools but I trust that this is already well-tested 🙂

Thanks again and have a n

[2020-03-28 08:56] #326 closed

[2020-04-28 22:42] yufangong commented on #316
Hi @gjfishman, can you verify if building from the master branch resolves this issue? Thanks!

[2020-05-27 03:31] #308 closed

[2020-05-27 07:00] kimxogus commented on #279
Can you support this feature?

[2020-05-27 18:26] jyanJing commented on #279
Hi @kimxogus , afaik, we don't have plans to support this feature right now, but this is definitely something nice to have. Would you be interested in trying to add this feature?

[2020-06-22 08:54] cosmir17 opened #331 "Scala 2.13 version deprecation warning"
Scala 2.13 version deprecation warning

### Expected behavior
No Warning messages

### Actual behavior
[code]
### Steps to reproduce the behavior
Scrooge dependency 20.5.0 and Scala 2.13 build.

[2020-06-24 17:47] ekohlwey-fb opened #332 "twitter.github.io/scrooge is missing"
The `gh-pages` branch of Scrooge's repo is missing.

### Expected behavior

You can go to `twitter.github.io/scrooge` and see docs.

### Actual behavior

You get a 404.

### Steps to reproduce the behavior

Use a browser to navigate to `twitter.github.io/scrooge`.

[2020-06-24 19:09] ryanoneill commented on #332
Hi @ekohlwey-fb, thanks for reporting. We are in the process of publishing the 20.6.0 release. We've recently migrated everything to GitHub Actions, and there are still a few issues to work out. We are actively working on it and this should be entirely resolved within the next few hours. Thanks.

[2020-06-24 22:08] ryanoneill commented on #332
This should be fixed now @ekohlwey-fb.

[2020-06-24 22:08] #332 closed

[2020-07-02 18:48] yufangong commented on #331
Hi @cosmir17, thanks for the report. Are you interested in taking a stab at this?
I think this piece sits in [here](https://github.com/twitter/scrooge/blob/8fa0583cac55ed90ac7df689740e52c28241d355/scrooge-generator/src/main/resources/scalagen/struct.mustache#L725). And some [gold file templates](https://github.com/twitter/scrooge/tree/develop/scrooge-generator-tests/src/test/resources/gold_file_ou

[2020-09-24 12:58] celadaguido commented on #80
same issue

[2020-09-24 13:00] astubbs commented on #80
Gosh - blast from the past! I have no idea what I ended up doing about this 7 years ago :) Good luck!

[2020-09-24 14:51] celadaguido commented on #80
Just don't use spaces :P I have this issue when using https://github.com/pinterest/secor

[2020-10-22 05:51] heldev opened #336 "com.twitter.scrooge.ast.Field.default is not callable from Java"
`com.twitter.scrooge.ast.Field.default` is not callable from Java because it conflicts with a java keyword.

### Expected behavior

The `Field` class has a Java friendly method-adapter called `default_` or `getDefault` ...

[2020-11-19 11:22] alexduf opened #339 "Interested in adding support for typescript?"
Hi everyone,

The Guardian has developed a Typescript extension to the scrooge compiler, would you be interested in merging it upstream?

I can see the scrooge compiler already support a number of languages, and I've noticed there was a generic ["hook"](https://github.com/twitter/scrooge/blob/develop/scrooge-generator/src/main/scala/com/twitter/scrooge/backend/Generator.scala#L89) enabling anyone

[2020-11-21 11:59] mosesn commented on #339
@alexduf thanks for reaching out!  I'm glad to hear that you were able to add support for Typescript!  In the past, we've been cautious about accepting contributions that we don't have the expertise to maintain ourselves, because we're worried that we won't be very good maintainers of them.  I think that Typescript falls under that category too.

However, maybe a good approach here would be to add

[2020-11-23 10:31] alexduf commented on #339
Thanks for your reply @mosesn!

That makes complete sense to me, I would need to do some cleanup of our documentation and sbt plugin as they are currently very Guardian centric.

Would it be alright if I re-opened this conversation once we're ready to be linked in the scrooge docs?

[2020-11-23 18:50] mosesn commented on #339
@alexduf yes please!

[2020-11-26 13:07] rtyley opened #341 "Unavoidable "[Importer$] Expected to find just 1 match" warnings in sbt sub-project builds"
**Describe the bug**
For an sbt [multi-project](https://www.scala-sbt.org/1.x/docs/Multi-Project.html) build which uses the ScroogeSBT autoplugin on a _subproject_, an unavoidable warning message (`warn [Importer$] Expected to find just 1 match for ...`, introduced March 2020 with https://github.com/twitter/scrooge/commit/9191deba0311cae2cef2f0f59af8f4af07a278e4) will be shown for every single `.t

[2021-01-21 13:14] tnn opened #342 "Feature Suggestion: Custom type adapters"
When using the service defintion of the generated code, there is a mismatch between the high level types and the underlying thrift binary serialization strategy. The canonical example for Scala/Java is `UUID` or `ZonedDateTime`, leading to implementors either polluting their service traits with `Int` and `Long`'s or using `String`s when the customer of those APIs often would like to work in higher

[2021-01-26 16:03] bonniee commented on #342
Hi @tnn ,

Thanks for this suggestion. If you open a pull request, we'd be happy to review a patch for this.

[2021-03-11 11:58] muuki88 opened #344 "MultiImporter warnings for duplicates due to root importer"
Since our upgrade to `21.2.0` we see hundreds of warnings due to `Expected to find just 1 match for <... thrift file name... >`.

We have multi module setups and this line is responsible for the new warnings.

https://github.com/twitter/scrooge/blob/1c26f6c61e95456e2b0c368cf11a71ba22067bc5/scrooge-generator/src/main/scala/com/twitter/scrooge/Compiler.scala#L48

The root directory ( `new File(".")`

[2021-03-11 12:00] muuki88 commented on #344
Sorry, just saw #341

[2021-03-11 12:00] #344 closed, assigned to nobody

[2021-03-11 12:57] felixbr commented on #341
Until the fix (#345) is merged and released, you can use the same workaround I used in our internal sbt-plugin to at least silence the warning:

[code]

It's hacky but the best solution I could find for the time being 🙂

[2021-03-12 08:29] rogern opened #346 "Add configuration choice of getting an immutable type in code generation for `bytes` thrift type"
Thrift type `bytes` currently gets generated as a `java.nio.ByteBuffer`. This type is mutable and if not careful defensive copying is used reading it changes it's internal position in the array. It supports `asReadonlyBuffer` but that can't be used if the bytes are sent via Thrift to clients, I see a `java.nio.ReadOnlyBufferException` thrown if done like that.

So to make this less painful I'd lik

[2021-03-16 08:39] muuki88 commented on #341
Next scrooge sbt version will have a setting to disable this

[code]

[2021-04-01 18:17] jstultz commented on #341
I am not sure that the issue here is really that the root folder is included by default, but rather with the way absolute paths are handled. _Any_ DirImporter will successfully resolve an absolute path, and when compiling a thrift file, it is the first file that the importer(s) resolve, and is going to be an absolute path. So while not including the root directory as an importer will solve this fo

[2021-04-01 18:23] jstultz commented on #341
(if others agree, I'd be happy to submit a PR)

[2021-06-02 20:09] mosesn commented on #346
@rogern for the slow response.  I think this is a reasonable idea.  Something we've discussed internally is being able to annotate fields to influence the way they're generated (eg being able to use specialized classes for certain kinds of maps).  That might be a reasonable approach for this kind of patch?

Anyway, I think we would be happy to accept a patch that looks something like this, but we

[2021-09-17 15:09] henryxparker commented on #268
For others, a way to get around this problem is to add
[code]
to your build.sbt

[2021-11-19 10:52] basert opened #349 "Updating from Scala 2.12 -> 2.13: scala.collection.Seq changes"
**Describe the bug**
We are in the process of upgrading our pants-based monorepository from Scala 2.12 to 2.13. Scrooge generated interfaces reference `scala.collection.Seq`, but due to https://docs.scala-lang.org/overviews/core/collections-migration-213.html all of our classes are now using `scala.collection.immutable.Seq`.

**Error message**
[code]

**Example handler code**
[code]

Do you have a

[2021-11-19 21:02] tigerlily-he commented on #349
Hi @basert, We don't have a flag in Scrooge to generate `scala.collection.immutable.Seq` from Thrift files. You are welcome to make a PR for this. Internally at Twitter, we haven't upgraded to Scala 2.13 yet.

The scala-collection-compat library can help with cross-building between Scala 2.12 and 2.13. https://github.com/scala/scala-collection-compat

[2021-11-20 10:53] basert commented on #349
Sure, we at ESL are more than happy to contribute. Can you maybe point me to some general code guidelines?

For implementation: Should this maybe be the default behavior for Scala 2.13 or would you like to have it behind a flag to keep the current behavior.

[2021-11-20 11:56] basert commented on #349
I did some more looking around and it seems basic support for immutable structures was introduced here: https://github.com/twitter/scrooge/commit/2324adba195e43232e406fe83ec6598a0d09d43c#diff-addb06caaaca5169adf6c1ff3535cd24b6b3dd5447a88c7718af7aa0ee9b1fadR224

Unfortunately it only mentions `for historical reasons` as comment to why it's not using `collection.immutable.Seq`. Would this be the cor

[2021-11-22 17:07] tigerlily-he commented on #349
To add another CLI flag, start in the [ScroogeOptionParser ](https://github.com/twitter/scrooge/blob/develop/scrooge-generator/src/main/scala/com/twitter/scrooge/ScroogeOptionParser.scala) and add another field to `ScroogeConfig` for generating immutable Seq.

Yes, the ScalaGenerator.scala is the right place to convert ListType to `scala.collection.immutable.Seq`. You can use the immutable argumen

[2021-11-22 22:04] basert commented on #349
Hey, thanks for your guidance.

I did some more digging around and found the `language-flags` feature. While it seems that it's currently not used anywhere, it is the perfect use for this. I implemented an initial version & added some Gold files to verify the result: https://github.com/twitter/scrooge/pull/350

Please let me know if it needs some changes or if I should change it to a real scrooge

[2021-12-01 17:21] basert commented on #349
Hey!

I was able to finish work on the pull request. It requires two changes:
* Add the mentioned `language-flag` parameter and generate immutable code
* Change `TProtocols` to explicitly convert the `ArrayBuffer` into `Seq` type. This should be a no-op operation for Scala 2.12 and lower because they are of the same type. For Scala 2.13, this will return the immutable instance of Seq.

[2021-12-02 00:41] jyanJing commented on #349
Hi @basert , thank you for the contribution! Smart approach! Your code looks great, I especially appreciate all the new tests! To help me understand more about your change, would you mind pointing me to the `language-flags` feature you mentioned? I don't think anyone is using that internally, so I wanted to understand the impact of this change, this could also help us with passing the knowledge to

[2021-12-02 03:28] Marcono1234 opened #351 "scrooge-generator: Update Apache Thrift `Processor.process` signature"
**Describe the bug**
Starting with Apache Thrift 0.13.0 released in 2019, the return type of `Processor.process` was changed from `boolean` to `void` (see https://github.com/apache/thrift/pull/1678).
This prevents using these Thrift versions with the code generated by scrooge-generator because it still uses `boolean` as return type:
https://github.com/twitter/scrooge/blob/082b11ee840e0a75a421ac6bf

[2021-12-02 09:09] basert commented on #349
The `language-flags` is a command line option that forwards a list of strings to the language generator. You can invoke it like this:
[code]

We are using it in pants via this buildfile alias:
[code]

[2021-12-02 18:13] jyanJing commented on #349
Sounds great! Thank you for elaborating on it!

[2021-12-03 00:12] jyanJing commented on #351
Hi @Marcono1234, thanks for reaching out to us! Our internal version for Apache Thrift is 0.10.0, upgrading the version to 0.13.0 will be a big effort especially given the breaking changes in the new API, so far I am not aware we have plans for the upgrade. Would you be able to work with Apache Thrift 0.10.0?

[2021-12-03 02:27] Marcono1234 commented on #351
Thanks for the fast response!
I mainly wanted to point this out in case you were not aware of these changes to the Thrift API. It is not blocking me.
Feel free to close this issue if you don't plan to upgrade the Thrift version used internally by you any time soon.

Edit: But maybe it would be good to mention this recommended Thrift version in the documentation. I did not notice it being mentioned

[2021-12-03 15:22] jyanJing commented on #351
Thank you for raising this issue to us, it is great to hear that you are not blocked, let's keep this open so it is on our radar!
Re: documentation, good point, I will have a patch to mention the version in the doc.

[2021-12-03 21:29] jyanJing commented on #349
Your change in [pr#350](https://github.com/twitter/scrooge/pull/350) has merged, thank you again for your contribution!

[2021-12-03 21:37] basert commented on #349
Awesome, this solved the last blocker to upgrade our monorepo to 2.13 🥳

[2021-12-03 21:41] #349 closed, assigned to nobody

[2021-12-03 21:50] tigerlily-he commented on #349
Thank you for the great work!

[2021-12-03 22:59] jyanJing commented on #351
[Added](https://github.com/twitter/scrooge/commit/b6251a8dc075bcd32bfda8ab4d8bfa3ebbce61c1) some documentation to Scrooge doc, Github should be able to update the doc soon. thank you again for your suggestion!

[2022-01-05 22:53] mosesn commented on #351
Thanks, we've updated the documentation!  https://twitter.github.io/scrooge/CodeGenDep.html  We're going to close this ticket for now, but it's still on our radar to upgrade the version of Thrift that we're targeting in the future.

[2022-01-05 22:53] #351 closed, assigned to nobody

[2022-01-18 19:48] henryxparker opened #352 "Add option to generate higher-kinded-type service interface"
**Is your feature request related to a problem? Please describe.**
[A recent release](https://github.com/twitter/scrooge/commit/8d768ca620a33d18b89492a7a2077007cedb6e7d) has removed the higher-kinded-type (HKT) interface when generating services (i.e. it removed the option to write `Service.MethodPerEndpoint` as `Service[Future]`). This change has excluded an existing use-case described in the com

[2022-02-22 19:28] joybestourous commented on #352
hey @henryxparker, our team is taking a look at this to see what we can do for you folks. we'll reach out to you when we have updates. thanks!

[2022-08-10 01:19] tkolleh commented on #324
@ryanoneill what are some strategies used at Twitter to reduce compile times. I'm facing something similar. Compiling in general is coffee + restroom break long at best and it makes using Metals nerve-racking.

[2022-09-04 05:40] ryanoneill commented on #324
@tkolleh hey, sorry, just saw your response to me here. In 2020, I ended up leaving the team responsible for Scrooge and then ended up leaving Twitter entirely earlier this year. So, I can't give insight on the team or company's current plans for Scrooge.

Compile time reduction has mostly been focused on by using finer grained dependencies via pants and bazel. That combined with a buildcache make